Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders

fix(frontend): Sync ChannelSelector with global channel store
  analyticbot_dev_session.session
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardHeader.tsx
Owners: @lead-maintainer, @project-lead

docs: Add MTProto setup guide and ingestion test script
  MTPROTO_SETUP_GUIDE.md
  analyticbot_dev_session.session
  scripts/test_mtproto_ingestion.py
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead

fix(channels): channel delete failing - wrong function signature
  .tunnel-current
  analyticbot_dev_session.session
  apps/api/middleware/auth.py
  apps/api/routers/channels_router.py
  apps/di/database_container.py
  apps/mtproto/collectors/history.py
  apps/mtproto/services/__init__.py
  apps/mtproto/services/data_collection_service.py
  apps/mtproto/worker.py
  check_session.session
  infra/db/alembic/versions/0023_create_mtproto_posts_table.py
  infra/db/repositories/channel_repository.py
  infra/db/repositories/post_metrics_repository.py
  infra/db/repositories/user_bot_repository.py
  infra/db/repositories/user_bot_repository_factory.py
  infra/tg/parsers.py
  infra/tg/telethon_client.py
  scripts/dev-start.sh
  scripts/test_direct_mtproto.py
  scripts/test_mtproto_ingestion.py
  scripts/test_simple_mtproto.py
  test_channel_check.session
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead, @devops-team

fix(channels): correct DI container method for channel repository
  .tunnel-current
  analyticbot_dev_session.session
  apps/api/middleware/auth.py
Owners: @lead-maintainer, @project-lead

fix(api): type safety and import errors
  .tunnel-current
  analyticbot_dev_session.session
  apps/api/main.py
  apps/api/middleware/auth.py
  apps/api/routers/posts_router.py
  apps/frontend/src/pages/PostsPage.tsx
Owners: @lead-maintainer, @project-lead

Fix TypeScript errors and sync major performance improvements
  .tunnel-current
  BEFORE_AFTER_COMPARISON.md
  MTPROTO_PROGRESS_TRACKING.md
  PERFORMANCE_AUDIT_REPORT.md
  PERFORMANCE_FIXES_APPLIED.md
  SMART_REFRESH_IMPLEMENTATION.md
  SOFT_DELETE_FEATURE.md
  SYSTEM_WIDE_REFRESH_ANALYSIS.md
  TOP_POSTS_AUDIT_COMPLETE.md
  analyticbot_dev_session.session
  apps/api/main.py
  apps/api/routers/analytics_post_dynamics_router.py
  apps/api/routers/analytics_top_posts_router.py
  apps/api/routers/channels_router.py
  apps/api/routers/posts_router.py
  apps/api/routers/user_mtproto_monitoring_router.py
  apps/frontend/src/api/client.ts
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  apps/frontend/src/pages/ChannelsManagementPage.tsx
  apps/frontend/src/pages/MTProtoMonitoringPage.tsx
  apps/frontend/src/shared/components/charts/PostViewDynamics/ChartVisualization.tsx
  apps/frontend/src/shared/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  apps/frontend/src/store/slices/analytics/useAnalyticsStore.ts
  apps/mtproto/audit.py
  apps/mtproto/collectors/history.py
  apps/shared/graceful_shutdown.py
  docs/RESOURCE_MANAGEMENT.md
  infra/db/alembic/versions/0026_add_soft_delete_to_posts.py
  infra/db/alembic/versions/0027_add_lateral_join_performance_index.py
  infra/db/repositories/post_repository.py
  scripts/apply_performance_fixes.sh
  scripts/cleanup_orphaned_processes.sh
  scripts/monitor_resources.py
  scripts/setup_resource_management.sh
  scripts/systemd/analyticbot-cleanup.service
  scripts/systemd/analyticbot-cleanup.timer
  scripts/systemd/resource_limits.conf
Owners: @lead-maintainer, @project-lead, @docs-team, @database-admin, @backend-lead, @devops-team

chore: organize root directory structure
  .gitignore
  .tunnel-current
  analyticbot_dev_session.session
  docs/ANALYTICS_ORCHESTRATOR_REFACTORING_PLAN.md
  docs/API-DIRECT-ACCESS.md
  docs/API-URL-FIX.md
  docs/BACKEND_FIX_SUMMARY.txt
  docs/MOCK_VS_REAL_DATA_RECOMMENDATIONS.md
  docs/MONTHLY_CALENDAR_ANALYSIS_PERIOD_IMPACT.md
  docs/MONTHLY_CALENDAR_CRITICAL_ISSUES.md
  docs/MONTHLY_CALENDAR_IMPLEMENTATION.md
  docs/PRODUCTION-SETUP.md
  docs/PROTECTED-CONFIG.md
  docs/REFACTORING_COMPLETE.md
  docs/TELEGRAM_STORAGE_COMPLETE.md
  docs/TELEGRAM_STORAGE_IMPLEMENTATION.md
  docs/TELEGRAM_STORAGE_IMPLEMENTATION_COMPLETE.md
  docs/TELEGRAM_STORAGE_INTEGRATION_COMPLETE.md
  scripts/dev-start.sh
  scripts/setup-domain.sh
  scripts/update-tunnel-url.sh
  tests/test_backend_fix.py
  tests/test_frontend_logic.py
  tests/test_posting_times_debug.py
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead, @qa-team

fix: calendar colors and time recommendations + API updates
  apps/api/main.py
  apps/api/routers/media_router.py
  apps/api/routers/telegram_storage_router.py
  apps/api/services/telegram_storage_service.py
  apps/frontend/src/__mocks__/analytics/bestTime.js
  apps/frontend/src/config/env.ts
  apps/frontend/src/config/routes.ts
  apps/frontend/src/features/analytics/best-time/BestTimeRecommender.tsx
  apps/frontend/src/features/analytics/best-time/components/BestTimeCards.tsx
  apps/frontend/src/features/analytics/best-time/components/ComparisonCard.tsx
  apps/frontend/src/features/analytics/best-time/components/EngagementTrendChart.tsx
  apps/frontend/src/features/analytics/best-time/components/MonthlyCalendarHeatmap.tsx
  apps/frontend/src/features/analytics/best-time/components/PostingRecommendationCalendar.tsx
  apps/frontend/src/features/analytics/best-time/components/SchedulePostButton.tsx
  apps/frontend/src/features/analytics/best-time/hooks/useRecommenderLogic.ts
  apps/frontend/src/features/analytics/best-time/services/DailyRecommendationService.ts
  apps/frontend/src/features/posts/create/PostCreator.tsx
  apps/frontend/src/features/posts/create/ScheduleTimeInput.tsx
  apps/frontend/src/features/storage/StorageChannelManager.tsx
  apps/frontend/src/features/storage/TelegramStorageBrowser.tsx
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/pages/CreatePostPage.tsx
  apps/frontend/src/pages/PostingCalendarDemo.tsx
  apps/frontend/src/pages/StorageChannelsPage.tsx
  apps/frontend/src/shared/components/ui/StorageFileBrowser.tsx
  apps/frontend/src/store/slices/analytics/useAnalyticsStore.ts
  apps/frontend/src/store/slices/channels/useChannelStore.ts
  apps/frontend/src/store/slices/storage/useTelegramStorageStore.ts
  core/services/analytics_fusion/orchestrator/analytics_orchestrator_service.py
  core/services/analytics_fusion/recommendations/__init__.py
  core/services/analytics_fusion/recommendations/models/__init__.py
  core/services/analytics_fusion/recommendations/models/posting_time_models.py
  core/services/analytics_fusion/recommendations/posting_time_service.py
  core/services/analytics_fusion/recommendations/recommendation_engine.py
  core/services/analytics_fusion/recommendations/time_analysis_repository.py
  infra/db/alembic/versions/0030_add_telegram_storage_tables.py
  infra/db/models/telegram_storage.py
Owners: @lead-maintainer, @project-lead

fix: resolve all 15 MTProto guard violations
  scripts/guard_imports.py
Owners: @devops-team, @backend-lead

refactor: fix all 3 architectural violations with Clean Architecture
  apps/di/bot_container.py
  apps/di/core_services_container.py
  core/ports/bot_manager_port.py
  core/services/admin_bot_service.py
  core/services/analytics_fusion/orchestrator/analytics_orchestrator_service.py
  core/services/user_bot_service.py
  infra/bot/__init__.py
  infra/bot/multi_tenant_bot_manager.py
  infra/bot/user_bot_instance.py
  scripts/guard_imports.py
  tests/manual/test_bot_manager.py
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead, @qa-team

refactor: split user_mtproto_router into modular microservice architecture
  apps/api/routers/user_mtproto/__init__.py
  apps/api/routers/user_mtproto/channel_settings.py
  apps/api/routers/user_mtproto/connection.py
  apps/api/routers/user_mtproto/deps.py
  apps/api/routers/user_mtproto/models.py
  apps/api/routers/user_mtproto/router.py
  apps/api/routers/user_mtproto/session_storage.py
  apps/api/routers/user_mtproto/setup.py
  apps/api/routers/user_mtproto/status.py
  apps/api/routers/user_mtproto/toggle.py
  apps/api/routers/user_mtproto/verification.py
  apps/api/routers/user_mtproto_router.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

refactor(mtproto): fix top 7 architectural and code quality issues
  apps/api/deps/mtproto_deps.py
  apps/api/routers/user_mtproto/channel_settings.py
  apps/api/routers/user_mtproto/deps.py
  apps/api/routers/user_mtproto/status.py
  apps/api/routers/user_mtproto_monitoring_router.py
  apps/mtproto/__main__.py
  apps/mtproto/collectors/history.py
  apps/mtproto/collectors/updates.py
  apps/mtproto/config.py
  apps/mtproto/metrics.py
  apps/mtproto/multi_tenant/user_mtproto_service.py
  core/ports/mtproto_repository.py
  infra/db/repositories/channel_mtproto_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

refactor: migrate MTProto to DI container + cleanup analytics DI (Issue #4)
  BACKEND_CRASH_FIX.md
  CHANNELS_AUDIT_TOP_10_ISSUES.md
  CHANNELS_FIX_COMPLETE.md
  CHANNELS_TIMEOUT_ANALYSIS.md
  MTPROTO_FREEZE_FIX.md
  TOKEN_SYSTEM_TOP_10_ISSUES.md
  apps/api/main.py
  apps/api/routers/auth/login.py
  apps/api/routers/user_mtproto/connection.py
  apps/api/routers/user_mtproto/status.py
  apps/api/routers/user_mtproto/toggle.py
  apps/api/routers/user_mtproto_monitoring_router.py
  apps/di/__init__.py
  apps/di/analytics_container.py
  apps/di/mtproto_container.py
  apps/frontend/src/api/client.ts
  apps/frontend/src/contexts/AuthContext.tsx
  apps/frontend/src/shared/hooks/useUserChannels.ts
  apps/frontend/src/utils/telegramAuth.ts
  apps/mtproto/collectors/updates.py
  apps/mtproto/config.py
  apps/mtproto/multi_tenant/user_mtproto_service.py
  config/importlinter.ini
  core/ports/mtproto_repository.py
  docs/PRODUCTION_PROCESS_MANAGEMENT.md
  infra/db/repositories/channel_mtproto_repository.py
  scripts/api-watchdog.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @database-admin, @backend-lead, @devops-team

fix: deep architectural and code quality improvements
  apps/api/auth_utils.py
  apps/api/main.py
  apps/api/routers/admin_system_router.py
  apps/api/routers/analytics_live_router.py
  apps/api/routers/analytics_post_dynamics_router.py
  apps/api/routers/channels_router.py
  apps/api/routers/telegram_storage_router.py
  apps/api/services/telegram_storage_service.py
  apps/bot/multi_tenant/global_rate_limiter.py
  apps/bot/multi_tenant/session_pool.py
  apps/bot/multi_tenant/user_bot_instance.py
  apps/di/__init__.py
  apps/mtproto/services/data_collection_service.py
  core/security_engine/auth.py
  core/security_engine/container.py
  infra/bot/multi_tenant_bot_manager.py
  test_global_rate_limiter.py
  test_session_pool.py
Owners: @lead-maintainer, @project-lead

fix: suppress harmless browser extension console errors
  apps/frontend/index.html
Owners: @lead-maintainer, @project-lead

fix(auth): resolve token storage key mismatch causing refresh loops
  apps/frontend/src/api/client.ts
Owners: @lead-maintainer, @project-lead

improve(auth): suppress token warning during login/register requests
  apps/frontend/src/api/client.ts
Owners: @lead-maintainer, @project-lead

fix: Filter wildcard patterns from CORS allow_origins list
  apps/api/main.py
  apps/api/middleware/rate_limiter.py
  apps/api/routers/admin_system_router.py
  apps/api/routers/auth/login.py
  apps/api/routers/auth/registration.py
  apps/api/routers/auth_router.py
  apps/api/routers/user_bot_router.py
  apps/api/routers/webhook_router.py
  apps/api/utils/error_messages.py
  apps/bot/multi_tenant/bot_health.py
  apps/bot/multi_tenant/bot_health_persistence.py
  apps/bot/multi_tenant/circuit_breaker.py
  apps/bot/multi_tenant/retry_logic.py
  apps/bot/multi_tenant/token_validator.py
  apps/bot/multi_tenant/user_bot_instance.py
  apps/bot/multi_tenant/webhook_manager.py
  config/settings.py
  core/models/user_bot_domain.py
  docs/BOT_SYSTEM_AUDIT_REPORT.md
  docs/CIRCUIT_BREAKER_IMPLEMENTATION.md
  docs/MTPROTO_VS_BOT_WEBHOOK_ANALYSIS.md
  docs/PHASE2_COMPLETION_REPORT.md
  docs/REAL_TOKEN_TESTING_GUIDE.md
  docs/WEBHOOK_IMPLEMENTATION_PHASE1_COMPLETE.md
  docs/WEBHOOK_VS_POLLING_TECHNICAL_GUIDE.md
  infra/db/alembic/versions/0031_add_bot_health_metrics_table.py
  infra/db/alembic/versions/0032_add_webhook_support.py
  infra/db/models/bot_health_orm.py
  infra/db/models/user_bot_orm.py
  scripts/check_existing_bots.py
  scripts/get_real_token_and_test.sh
  scripts/test_with_real_token.py
  test_bot_health_persistence.py
  test_circuit_breaker.py
  test_error_messages.py
  test_rate_limiter.py
  test_retry_logic.py
  test_token_validator.py
  verify_phase2_complete.sh
Owners: @lead-maintainer, @project-lead, @devops-lead, @backend-lead, @docs-team, @devops-team

fix: Add Response parameter to login endpoint for slowapi rate limiter
  apps/api/routers/auth/login.py
Owners: @lead-maintainer, @project-lead

fix: Add Response parameter to all rate-limited endpoints
  apps/api/routers/admin_system_router.py
  apps/api/routers/auth/registration.py
  apps/api/routers/user_bot_router.py
Owners: @lead-maintainer, @project-lead

Phase 0 complete: API structure analysis
  PHASE_0_CHECKLIST.md
  README_API_RESTRUCTURE.md
  apps/frontend/src/features/dashboard/analytics-dashboard/AnalyticsDashboard.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/TopPostsTable.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/components/PostSummaryStats.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/components/PostTableFilters.tsx
  apps/frontend/src/shared/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  docs/API_ENDPOINT_CHAOS_AUDIT_AND_CLEANUP_PLAN.md
  docs/API_RESTRUCTURE_PHASE_0_PREPARATION.md
  docs/QUICK_START_PHASE_0.md
  reports/PHASE_0_RESULTS_SUMMARY.md
  reports/files_with_api_calls.txt
  reports/openapi_current.json
  reports/phase0_current_structure.txt
  reports/phase0_endpoint_usage.txt
  reports/phase0_frontend_api_calls.txt
  reports/phase0_frontend_endpoints.txt
  reports/phase0_issues.txt
  reports/phase0_migration_map.json
  reports/phase0_migration_map.txt
  scripts/phase0_analyze_current_structure.py
  scripts/phase0_analyze_frontend.sh
  scripts/phase0_analyze_usage.py
  scripts/phase0_create_migration_map.py
  scripts/run_phase0.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

feat: API Restructure - Option A Flat Resources Implementation
  apps/api/main.py
  apps/api/routers/admin_bot_router.py
  apps/api/routers/channels/models.py
  apps/api/routers/competitive_intelligence_router.py
  apps/api/routers/optimization_router.py
  apps/api/routers/strategy_router.py
  apps/api/routers/superadmin_router.py
  apps/api/routers/user_bot_router.py
  apps/api/routers/user_mtproto/router.py
  apps/api/routers/user_mtproto_monitoring_router.py
  apps/frontend/src/api/client.ts
  apps/frontend/src/features/mtproto-setup/api.ts
  apps/frontend/src/features/payment/api/paymentAPI.ts
  apps/frontend/src/pages/MTProtoMonitoringPage.tsx
  apps/frontend/src/pages/PostsPage.tsx
  apps/frontend/src/services/userBotApi.ts
  apps/frontend/src/shared/hooks/useUserChannels.ts
  apps/frontend/src/store/slices/channels/useChannelStore.ts
  apps/frontend/src/store/slices/storage/useTelegramStorageStore.ts
  reports/API_RESTRUCTURE_FINAL_SUMMARY.txt
  reports/FRONTEND_API_UPDATES.txt
  reports/OPTION_A_COMPLIANCE_COMPLETE.txt
  reports/PHASE_1_COMPLETE.md
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

fix(security): Replace weak database password - Issue #7 [CRITICAL]
  DATABASE_AUDIT_REPORT.md
  tests/manual/check_db_channels.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

feat(database): Enable pg_stat_statements query monitoring - Issue #8
  DATABASE_AUDIT_REPORT.md
  scripts/monitor_query_performance.sh
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead

feat(owner): Add query performance monitoring to owner dashboard
  DOMAIN_SETUP.md
  apps/api/routers/owner_router.py
  apps/frontend/src/contexts/AuthContext.tsx
  apps/frontend/src/features/admin/services/usersService.ts
  apps/frontend/src/features/analytics/best-time/BestTimeRecommender.tsx
  apps/frontend/src/features/analytics/best-time/hooks/useRecommenderLogic.ts
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardSpeedDial.tsx
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/frontend/src/features/owner/OwnerDashboard.tsx
  apps/frontend/src/features/owner/components/QueryPerformanceMonitor.tsx
  apps/frontend/src/features/owner/index.ts
  apps/frontend/src/features/owner/services/ownerApi.ts
  apps/frontend/src/features/posts/list/TopPostsTable/TopPostsTable.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/TopPostsTableConfig.tsx
  apps/frontend/src/pages/HelpPage.tsx
  apps/frontend/src/pages/InvoicesPage.tsx
  apps/frontend/src/pages/posts/edit/EditPostPage.tsx
  apps/frontend/src/shared/components/charts/PostViewDynamics/MetricsSummary.tsx
  apps/frontend/src/shared/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  apps/frontend/src/shared/components/feedback/EnhancedErrorBoundary.tsx
  apps/frontend/src/store/slices/analytics/useAnalyticsStore.ts
  apps/frontend/src/utils/componentPerformance.tsx
  apps/frontend/src/utils/performanceMonitor.tsx
  apps/frontend/src/utils/tokenRefreshManager.ts
  apps/mtproto/services/data_collection_service.py
  tests/manual/check_db_channels.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

feat(database): Issue #9 - Automated VACUUM configuration and monitoring
  DATABASE_AUDIT_REPORT.md
  apps/api/routers/owner_router.py
  apps/frontend/src/features/owner/OwnerDashboard.tsx
  apps/frontend/src/features/owner/components/VacuumMonitor.tsx
  apps/frontend/src/features/owner/index.ts
  apps/frontend/src/features/owner/services/ownerApi.ts
  scripts/monitor_vacuum_activity.sh
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead

feat(database): Issue #10 - Index optimization analysis and migration
  DATABASE_AUDIT_REPORT.md
  apps/api/routers/owner_router.py
  apps/frontend/src/features/analytics/index.ts
  apps/frontend/src/features/analytics/special-times/SpecialTimesRecommender.tsx
  apps/frontend/src/features/analytics/special-times/components/AIInsightsPanel.tsx
  apps/frontend/src/features/analytics/special-times/components/BestTimeCards.tsx
  apps/frontend/src/features/analytics/special-times/components/ComparisonCard.tsx
  apps/frontend/src/features/analytics/special-times/components/ContentTypeFilter.tsx
  apps/frontend/src/features/analytics/special-times/components/EngagementTrendChart.tsx
  apps/frontend/src/features/analytics/special-times/components/EnhancedCalendarTooltip.tsx
  apps/frontend/src/features/analytics/special-times/components/HeatmapVisualization.tsx
  apps/frontend/src/features/analytics/special-times/components/MonthlyCalendarHeatmap.tsx
  apps/frontend/src/features/analytics/special-times/components/PostingRecommendationCalendar.tsx
  apps/frontend/src/features/analytics/special-times/components/RecommenderFooter.tsx
  apps/frontend/src/features/analytics/special-times/components/SchedulePostButton.tsx
  apps/frontend/src/features/analytics/special-times/components/SmartRecommendationsPanel.tsx
  apps/frontend/src/features/analytics/special-times/components/TimeFrameFilters.tsx
  apps/frontend/src/features/analytics/special-times/hooks/useRecommenderLogic.ts
  apps/frontend/src/features/analytics/special-times/index.ts
  apps/frontend/src/features/analytics/special-times/services/DailyRecommendationService.ts
  apps/frontend/src/features/analytics/special-times/utils/timeUtils.ts
  apps/frontend/src/features/dashboard/analytics-dashboard/AnalyticsDashboard.tsx
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardTabs.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/TopPostsTableConfig.tsx
  apps/frontend/src/pages/PostingCalendarDemo.tsx
  apps/frontend/src/test/BestTimeRecommender.test.tsx
  docs/ANALYSIS_PERIOD_TESTING.md
  infra/db/alembic/versions/0037_remove_unused_indexes.py
  scripts/apply_migration_0037.sh
  scripts/monitor_index_usage.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

docs(database): Critical Issue #11 - Data Retention Problem Analysis
  DATABASE_AUDIT_REPORT.md
  apps/frontend/src/features/analytics/special-times/SpecialTimesRecommender.tsx
  apps/frontend/src/features/analytics/special-times/components/BestTimeCards.tsx
  apps/frontend/src/features/analytics/special-times/components/SmartRecommendationsPanel.tsx
  docs/DATABASE_STORAGE_ANALYSIS.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat: Implement Smart Data Retention System with Change Detection
  apps/api/routers/owner_router.py
  apps/celery/celery_app.py
  apps/celery/tasks/smart_analytics_tasks.py
  docs/SMART_DATA_RETENTION_STRATEGY.md
  docs/SMART_RETENTION_DEPLOYMENT.md
  infra/db/alembic/versions/0038_add_post_metrics_checks.py
  scripts/deploy_smart_retention.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

docs: Add Smart Retention Quick Start Guide
  SMART_RETENTION_QUICKSTART.md
Owners: @lead-maintainer, @project-lead

deploy: Smart Retention System deployed - 98% storage reduction achieved
  apps/frontend/MONTH_2_WEEK_1_IMPLEMENTATION.md
  apps/frontend/MTPROTO_UX_IMPROVEMENTS.md
  apps/frontend/WEEK1_FIXES_SUMMARY.md
  apps/frontend/src/features/analytics/best-time/components/TimeFrameFilters.tsx
  apps/frontend/src/features/analytics/special-times/SpecialTimesRecommender.tsx
  apps/frontend/src/features/analytics/special-times/components/SmartRecommendationsPanel.tsx
  apps/frontend/src/features/analytics/special-times/components/TimeFrameFilters.tsx
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardTabs.tsx
  core/services/analytics_fusion/recommendations/time_analysis_repository.py
  docs/ANALYSIS_PERIOD_TESTING.md
  scripts/cleanup_duplicates_db_only.sql
  scripts/deploy_db_only.sh
  scripts/deploy_smart_retention_db_only.sql
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

feat: Week 2 cleanup - console logs replaced with structured loggers, TODO fixes
  apps/api/routers/channels/crud.py
  apps/api/routers/channels/deps.py
  apps/api/routers/channels/models.py
  apps/api/routers/posts_router.py
  apps/api/routers/system_router.py
  apps/api/services/channel_management_service.py
  apps/frontend/src/features/analytics/special-times/SpecialTimesRecommender.tsx
  apps/frontend/src/features/analytics/special-times/hooks/useRecommenderLogic.ts
  apps/frontend/src/pages/channels/components/ChannelDialogs.tsx
  apps/frontend/src/pages/channels/index.tsx
  apps/frontend/src/pages/posts/components/PostsGrid.tsx
  apps/frontend/src/pages/posts/components/PostsTable.tsx
  apps/frontend/src/pages/posts/types/Post.ts
  apps/frontend/src/store/slices/analytics/useAnalyticsStore.ts
  core/ports/repository_ports.py
  core/services/analytics_fusion/recommendations/models/posting_time_models.py
  core/services/analytics_fusion/recommendations/posting_time_service.py
  core/services/analytics_fusion/recommendations/recommendation_engine.py
  core/services/analytics_fusion/recommendations/time_analysis_repository.py
  core/services/channel_service.py
  infra/db/repositories/channel_repository.py
  infra/db/repositories/post_repository.py
  infra/tg/parsers.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

chore: code formatting and minor fixes
  apps/api/routers/channels/crud.py
  apps/api/routers/channels/deps.py
  apps/api/routers/posts_router.py
  apps/api/routers/system_router.py
  apps/api/services/channel_management_service.py
  apps/frontend/src/features/analytics/special-times/SpecialTimesRecommender.tsx
  apps/frontend/src/pages/channels/index.tsx
  apps/frontend/src/pages/posts/components/PostsGrid.tsx
  apps/frontend/src/pages/posts/components/PostsTable.tsx
  core/ports/repository_ports.py
  core/services/analytics_fusion/recommendations/time_analysis_repository.py
  core/services/channel_service.py
  infra/db/repositories/channel_repository.py
  infra/tg/parsers.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

refactor(frontend): Phase 1 cleanup - archive unused components
  apps/frontend/src/components/content/ContentProtectionDashboard.tsx
  apps/frontend/src/features/posts/schedule/ScheduledPostsList.old.tsx
  apps/frontend/src/pages/PostingCalendarDemo.tsx
  apps/frontend/src/pages/ScheduledPostsPage.old.tsx
  apps/frontend/src/pages/SystemHealthDashboard.tsx
Owners: @lead-maintainer, @project-lead

Remove duplicate Analytics Overview tab - keep Channel Overview only
  apps/frontend/src/api/index.ts
  apps/frontend/src/features/alerts/SmartAlertsPanel.tsx
  apps/frontend/src/features/alerts/index.ts
  apps/frontend/src/features/analytics/analytics-overview/AnalyticsOverview.tsx
  apps/frontend/src/features/analytics/analytics-overview/DashboardCharts.tsx
  apps/frontend/src/features/analytics/analytics-overview/DataSourceStatus.tsx
  apps/frontend/src/features/analytics/analytics-overview/OverviewMetrics.tsx
  apps/frontend/src/features/analytics/analytics-overview/PerformanceScoreWidget.tsx
  apps/frontend/src/features/analytics/analytics-overview/dashboardUtils.ts
  apps/frontend/src/features/analytics/analytics-overview/index.ts
  apps/frontend/src/features/analytics/index.ts
  apps/frontend/src/features/analytics/overview/components/StatsCards.tsx
  apps/frontend/src/features/dashboard/analytics-dashboard/AnalyticsDashboard.tsx
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardTabs.tsx
  apps/frontend/src/pages/settings/SmartAlertsSettingsPage.tsx
Owners: @lead-maintainer, @project-lead

Separate Dashboard and Analytics pages
  apps/frontend/src/pages/DashboardPage.tsx
  apps/frontend/src/pages/HomeDashboard.tsx
Owners: @lead-maintainer, @project-lead

fix: resolve TypeScript config errors in admin and user apps
  analyticbot_session.session-journal
  apps/frontend/apps/admin/tsconfig.json
  apps/frontend/apps/admin/tsconfig.node.json
  apps/frontend/apps/user/src/pages/dashboard/components/ChannelHealthCard.tsx
Owners: @lead-maintainer, @project-lead

fix(admin): correct API endpoints to match backend routes
  apps/api/routers/home_dashboard_router.py
  apps/frontend/apps/admin/src/config/api.ts
  apps/frontend/apps/admin/src/contexts/AuthContext.tsx
  apps/frontend/apps/admin/src/pages/DashboardPage.tsx
Owners: @lead-maintainer, @project-lead

fix(admin): fix require_admin_user calls and add list users endpoint
  analyticbot_dev_session.session-journal
  apps/api/routers/admin_channels_router.py
  apps/api/routers/admin_system_router.py
  apps/api/routers/admin_users_router.py
  apps/api/routers/home_dashboard_router.py
  apps/frontend/apps/admin/src/pages/SystemHealthPage.tsx
  apps/frontend/apps/admin/tsconfig.node.json
Owners: @lead-maintainer, @project-lead

fix(auth): include role and email in get_user_by_id query
  apps/api/routers/home_dashboard_router.py
  apps/frontend/apps/user/src/pages/dashboard/components/ChannelHealthCard.tsx
  apps/frontend/apps/user/src/pages/dashboard/components/PerformanceSparkline.tsx
  apps/frontend/apps/user/src/pages/dashboard/components/TodaySnapshot.tsx
  apps/frontend/apps/user/src/pages/dashboard/components/index.ts
  apps/frontend/apps/user/src/pages/dashboard/index.tsx
  infra/db/repositories/user_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead
