Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

Task 1.2 Phase 2: GitHub Issues for TODO Cleanup
  docs/architecture/GITHUB_ISSUES_TODO_CLEANUP.md
Owners: @docs-team

feat(frontend): Complete Batch 12 - Migrate 10 complex components (170-190 lines)
  docs/architecture/KNOWN_LIMITATIONS.md
Owners: @docs-team

Task 1.2 Phase 3: Document Known Limitations
  apps/frontend/src/components/charts/TrendsChart/TrendsChart.tsx
  apps/frontend/src/components/dashboard/AIServicesGrid.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/SuperAdminDashboard.tsx
  apps/frontend/src/components/domains/admin/UserManagement/UserManagementTable.tsx
  apps/frontend/src/components/domains/posts/PostCreatorForm.tsx
  docs/architecture/TASK_1_2_HYBRID_PLAN.md
  docs/architecture/TASK_1_2_PRIORITY_ADJUSTMENTS.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix(frontend): Add explicit .tsx extensions to migrated component imports
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/index.js
  apps/frontend/src/components/charts/TrendsChart/index.js
  apps/frontend/src/components/content/index.js
  apps/frontend/src/components/dashboard/AnalyticsDashboard/AnalyticsDashboard.jsx
  apps/frontend/src/components/dialogs/index.js
  apps/frontend/src/components/domains/admin/UserManagement/index.js
  apps/frontend/src/components/domains/admin/index.js
  apps/frontend/src/components/domains/navigation/NavigationBar/ProfileMenu.jsx
  apps/frontend/src/components/domains/navigation/NavigationBar/index.js
  apps/frontend/src/components/index.js
  docs/architecture/TASK_1_2_COMPLETION_SUMMARY.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix(frontend): Fix direct imports to migrated components
  apps/frontend/src/AppRouter.jsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.jsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard.tsx
  apps/frontend/src/components/domains/posts/PostButtonManager.tsx
  apps/frontend/src/components/layout/ProtectedLayout.tsx
  apps/frontend/src/components/pages/EnhancedDashboardPage.jsx
  apps/frontend/src/components/pages/MobileResponsiveDashboard.jsx
  apps/frontend/src/components/payment/SubscriptionDashboardRefactored.jsx
Owners: @lead-maintainer, @project-lead

fix(frontend): Remove .tsx extensions from TypeScript imports
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard.tsx
  apps/frontend/src/components/domains/posts/PostButtonManager.tsx
  apps/frontend/src/components/layout/ProtectedLayout.tsx
Owners: @lead-maintainer, @project-lead

fix(frontend): Fix MainDashboard import to DashboardPage.tsx
  apps/api/main.py
  apps/api/middleware/auth.py
  apps/bot/analytics.py
  apps/bot/di.py
  apps/di/ml_container.py
  apps/frontend/src/MainDashboard.jsx
Owners: @lead-maintainer, @project-lead

fix(frontend): Update index.js exports for migrated components
  apps/bot/services/adapters/ml_coordinator.py
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/index.js
  apps/frontend/src/components/layout/index.js
  apps/frontend/src/components/payment/index.js
Owners: @lead-maintainer, @project-lead

fix(frontend): Fix PostButtonManager import in PostCreator
  apps/frontend/src/components/PostCreator.jsx
Owners: @lead-maintainer, @project-lead

Task 1.4: Clean Up LEGACY References
  apps/bot/handlers/content_protection.py
Owners: @lead-maintainer, @project-lead

fix(api): Replace require_admin_role with require_admin_user
  apps/api/routers/admin_channels_router.py
Owners: @lead-maintainer, @project-lead

fix(api): Fix require_admin_role imports in all admin routers
  apps/api/routers/admin_system_router.py
  apps/api/routers/admin_users_router.py
  apps/api/routers/superadmin_router.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 13 - Migrate 8 components (180-210 lines) to TypeScript (68.24%)
  =0.21.1
  apps/api/routers/exports_router.py
  apps/di/__init__.py
  apps/frontend/docs/PHASE_4_OVERALL_STATUS.md
  apps/frontend/docs/PHASE_4_STATUS_DASHBOARD.md
  apps/frontend/src/components/AddChannel.tsx
  apps/frontend/src/components/PostCreator.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/NotificationMenu.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/ProfileMenu.tsx
  apps/frontend/src/components/payment/SubscriptionDashboardRefactored.tsx
  apps/frontend/src/domains/analytics/PostsDisplayComponents.tsx
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/hooks/useAdminAPI.js
  apps/frontend/src/hooks/useAdminAPI.ts
  apps/frontend/src/hooks/useApiFailureDialog.ts
  apps/frontend/src/hooks/useAuthenticatedDataSource.js
  apps/frontend/src/hooks/useAuthenticatedDataSource.ts
  apps/frontend/src/hooks/useDataSource.ts
  apps/frontend/src/hooks/useMobileResponsive.ts
  apps/frontend/src/hooks/useRealTimeAnalytics.ts
  apps/frontend/src/hooks/useSpecializedAnalytics.ts
  apps/frontend/src/hooks/useUnifiedAnalytics.ts
  apps/frontend/src/hooks/useUserChannels.ts
  apps/frontend/src/pages/SystemHealthDashboard.tsx
  apps/frontend/src/services/ServicesLayout.tsx
  apps/tests/conftest.py
  docs/architecture/PYLANCE_ERRORS_ANALYSIS.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix: Replace AsyncClient.app test with functional health check
  apps/tests/test_api/test_main.py
Owners: @lead-maintainer, @project-lead

fix(frontend): Fix TypeScript errors in Batch 13 components
  apps/frontend/src/components/AddChannel.tsx
  apps/frontend/src/components/PostCreator.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/NotificationMenu.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/ProfileMenu.tsx
  apps/frontend/src/components/payment/SubscriptionDashboardRefactored.tsx
  apps/frontend/src/domains/analytics/PostsDisplayComponents.tsx
  apps/frontend/src/pages/SystemHealthDashboard.tsx
  apps/frontend/src/services/ServicesLayout.tsx
Owners: @lead-maintainer, @project-lead

fix: Accept 307 redirect in API startup test
  =0.21.1
  =4.1.0
  =7.4.3
  apps/frontend/src/components/AddChannel.tsx
  apps/frontend/src/components/PostCreator.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/NotificationMenu.tsx
  apps/frontend/src/services/ServicesLayout.tsx
  apps/tests/test_api/test_main.py
Owners: @lead-maintainer, @project-lead

fix(frontend): Batch 13 - Fix all TypeScript compilation errors
  apps/frontend/src/components/PostCreator.tsx
  apps/tests/test_api/test_main.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 14 - Migrate LayoutUtils to TypeScript (77.0%)
  apps/frontend/src/components/layout/LayoutUtils.tsx
  apps/tests/conftest.py
  apps/tests/test_api/test_main.py
Owners: @lead-maintainer, @project-lead

feat: Configure comprehensive test coverage tracking
  .coveragerc
  apps/frontend/src/components/analytics/TopPostsTable/components/PostTableRow.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/GlobalSearchBar.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/SmartBreadcrumbs.tsx
  apps/frontend/src/components/payment/subscription/SubscriptionCard.tsx
  docs/testing/COVERAGE_GUIDE.md
  pytest.ini
  scripts/check_coverage.py
  scripts/coverage_report.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @qa-team, @backend-lead, @devops-team

feat(frontend): Batch 15 - Migrate 4 components to TypeScript (79.2%)
  apps/frontend/src/components/payment/subscription/SubscriptionCard.jsx
  apps/frontend/src/components/payment/subscription/SubscriptionCard.tsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 16 - Migrate 2 components to TypeScript (80.3% 🎉)
  apps/frontend/src/components/analytics/MetricsCard/MetricsGrid.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/DashboardTabs.tsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 17 (Part 1) - Migrate 3 components to TypeScript (82.0%)
  apps/frontend/src/components/ScheduledPostsList.tsx
  apps/frontend/src/components/analytics/BestTimeRecommender/components/AIInsightsPanel.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/AuditLogsTab.tsx
Owners: @lead-maintainer, @project-lead

feat: Delete deprecated apps/bot/di.py (500 lines) + update architecture docs
  .coveragerc
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/bot/di.py
  docs/architecture/PYLANCE_ERRORS_ANALYSIS.md
  docs/testing/COVERAGE_GUIDE.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat: Delete deprecated apps/shared/di.py (245 lines) + update architecture test
  apps/shared/di.py
  tests/test_architecture.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

docs: Update architecture doc - 745 lines deleted today!
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/frontend/src/components/analytics/TopPostsTable/TopPostsTable.jsx
  apps/frontend/src/components/analytics/TopPostsTable/TopPostsTable.tsx
  apps/frontend/src/components/analytics/TopPostsTable/components/PostSummaryStats.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/DashboardHeader.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/DashboardSpeedDial.tsx
  apps/frontend/src/components/dashboard/SystemStatusWidget.tsx
  coverage.json
Owners: @lead-maintainer, @project-lead

chore: Remove migration comments and commented exports
  apps/api/main.py
  apps/bot/bot.py
  apps/di/__init__.py
Owners: @lead-maintainer, @project-lead

refactor(frontend): Clean up unused imports in DashboardHeader
  apps/frontend/src/components/dashboard/AnalyticsDashboard/DashboardHeader.tsx
Owners: @lead-maintainer, @project-lead

chore: Remove migration comments (batch 2)
  apps/api/middleware/auth.py
  apps/api/routers/content_protection_router.py
  apps/api/routers/insights_predictive_router.py
  apps/api/routers/payment_router.py
  apps/api/routers/superadmin_router.py
  apps/api/routers/system_router.py
  apps/api/services/initial_data_service.py
  apps/bot/tasks.py
  apps/celery/tasks/bot_tasks.py
  apps/demo/routers/main.py
  apps/shared/health.py
Owners: @lead-maintainer, @project-lead

chore: Remove remaining migration comments (batch 3)
  apps/bot/tasks.py
  apps/celery/tasks/bot_tasks.py
  apps/frontend/src/components/dashboard/AnalyticsDashboard/AnalyticsDashboard.tsx
  apps/shared/health.py
Owners: @lead-maintainer, @project-lead

chore: Remove CLEAN ARCHITECTURE comments from routers
  apps/api/main.py
  apps/api/routers/admin_channels_router.py
  apps/api/routers/admin_system_router.py
  apps/api/routers/admin_users_router.py
  apps/api/routers/ai_services_router.py
  apps/api/routers/auth_router.py
  apps/api/routers/channels_router.py
  apps/api/routers/insights_engagement_router.py
  apps/api/routers/statistics_core_router.py
  apps/api/routers/statistics_reports_router.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 18 - Migrate 3 large components to TypeScript (81.4%)
  apps/frontend/src/App-enhanced.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/AnalyticsDashboard.tsx
  apps/frontend/src/domains/analytics/PostsActions.tsx
Owners: @lead-maintainer, @project-lead

fix: Fix syntax error in auth.py from previous cleanup
  apps/api/middleware/auth.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 19 - Migrate 4 small components to TypeScript (83.4%)
  apps/frontend/src/App.tsx
  apps/frontend/src/MainDashboard.jsx
  apps/frontend/src/MainDashboard.tsx
  apps/frontend/src/components/showcase/tables/PostsTableDemo.tsx
  apps/frontend/src/main.debug.tsx
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @backend-lead, @devops-lead

refactor: Improve import linter architecture compliance (1→4 kept)
  infra/adapters/payment/mock_payment_adapter.py
  infra/adapters/payment/stripe_payment_adapter.py
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @backend-lead, @devops-lead

feat(frontend): Batch 20 - Migrate 2 critical large files to TypeScript (79.6%)
  apps/frontend/src/AppRouter.tsx
  apps/frontend/src/contexts/AuthContext.tsx
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @backend-lead, @devops-lead

fix(frontend): Add missing SuperAdmin route to AppRouter
  apps/frontend/src/AppRouter.tsx
Owners: @lead-maintainer, @project-lead

feat: Achieve 100% import linter compliance! 🎉
  pyproject.toml
Owners: @backend-lead, @devops-lead, @lead-maintainer

feat(frontend): Batch 21 - Migrate 2 auth forms to TypeScript (80.6%) 🎉
  apps/frontend/src/components/auth/LoginForm.tsx
  apps/frontend/src/components/auth/RegisterForm.tsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 22 - Complete auth flow migration to TypeScript (81.5%)
  apps/frontend/src/components/auth/MFASetup.tsx
  apps/frontend/src/components/auth/ResetPasswordForm.tsx
Owners: @lead-maintainer, @project-lead

fix: Resolve all type errors and import issues
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  TOP_10_APPS_LAYER_ISSUES.md
  TOP_10_APPS_LAYER_ISSUES_UPDATED.md
  apps/bot/di.py
  apps/frontend/src/components/HealthStartupSplash.tsx
  core/adapters/payment/payment_adapter_protocol.py
  docs/PHASE_3.4_COMPLETE_SUMMARY.md
  docs/PHASE_3.4_PROMETHEUS_METRICS_PLAN.md
  docs/PHASE_3.5.1_COMPLETE.md
  docs/PHASE_3.5.2_COMPLETE.md
  docs/PHASE_3.5.2_QUALITY_CHECK.md
  docs/PHASE_3.5.3_ASSESSMENT.md
  docs/PHASE_3.5_ANALYTICS_CONSOLIDATION_PLAN.md
  infra/adapters/payment/mock_payment_adapter.py
  infra/adapters/payment/stripe_payment_adapter.py
Owners: @lead-maintainer, @project-lead, @docs-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders
