Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

Consolidate GitHub workflows - remove duplicates and unused
  .github/workflows/ai-fix-enhanced.yml
  .github/workflows/ai-fix.yml
  .github/workflows/apply-patch.yml
  .github/workflows/auto-ai-fix-on-red.yml
  .github/workflows/ci-autodoctor.yml
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci.yml
  .github/workflows/helm-deploy.yml
  .github/workflows/nightly-security.yml
  .github/workflows/python-tests.yml
  .github/workflows/security.yml
  archive/legacy_di_containers_2025_10_14/MANIFEST.txt
  archive/legacy_di_containers_2025_10_14/README.md
  archive/legacy_di_containers_2025_10_14/api_analytics_container.py
  archive/legacy_di_containers_2025_10_14/api_deps.py
  archive/legacy_di_containers_2025_10_14/bot_container.py
  archive/legacy_di_containers_2025_10_14/bot_di.py
  archive/legacy_di_containers_2025_10_14/unified_di.py
  archive/phase3_prometheus_legacy_20251015/ARCHIVE_README.md
  archive/phase3_prometheus_legacy_20251015/prometheus_service.py
  archive/phase3_scheduler_legacy_20251014/ARCHIVE_README.md
  archive/phase3_scheduler_legacy_20251014/scheduler_service.py
Owners: @devops-lead, @admin-team, @qa-team, @backend-lead, @lead-maintainer, @project-lead

Update devcontainer comments to English
  .devcontainer/devcontainer.json
Owners: @lead-maintainer, @project-lead

Backend fixes: mypy type errors, undefined variables, dead code removal
  apps/api/middleware/rate_limiter.py
  apps/api/routers/auth/login.py
  apps/api/routers/owner_router.py
  apps/api/services/telegram_storage_service.py
  apps/api/services/telegram_validation_service.py
  apps/bot/system/handlers/user_bot_service/admin_commands.py
  apps/bot/system/handlers/user_bot_service/member_handlers.py
  apps/bot/system/handlers/user_bot_service/message_handlers.py
  apps/bot/system/handlers/user_bot_service/router.py
  apps/bot/user/bot_health.py
  apps/bot/user/circuit_breaker.py
  apps/bot/user/global_rate_limiter.py
  apps/bot/user/token_validator.py
  apps/mtproto/system/collectors/updates.py
  apps/mtproto/system/connection_pool.py
  apps/mtproto/system/health_http.py
  apps/mtproto/system/services/data_collection_service.py
  core/services/system/user_bot_service.py
  docs/DATABASE_ORGANIZATION.md
  docs/FULL_SYSTEM_SCALABILITY_AUDIT.md
  docs/SCALING_100K_USERS_GUIDE.md
  infra/db/__init__.py
  infra/db/models/__init__.py
  infra/db/models/analytics/__init__.py
  infra/db/models/analytics/analytics_orm.py
  infra/db/models/credits/__init__.py
  infra/db/models/credits/credit_orm.py
  infra/db/models/marketplace/__init__.py
  infra/db/models/marketplace/marketplace_orm.py
  infra/db/models/users/__init__.py
  infra/db/models/users/users_orm.py
  infra/db/repositories/__init__.py
  infra/db/scaling/__init__.py
  infra/db/scaling/cache_manager.py
  infra/db/scaling/partition_manager.py
  infra/db/scaling/pgbouncer_pool.py
  infra/db/scaling/read_replica_router.py
  requirements.prod.in
Owners: @lead-maintainer, @project-lead, @docs-team, @database-admin, @backend-lead

🔒 SECURITY: Remove hardcoded bot tokens from codebase
  apps/api/routers/system_router.py
  apps/bot/__init__.py
  apps/di/provider_modules/bot_infrastructure.py
  apps/mtproto/system/connection_pool.py
  apps/mtproto/system/services/data_collection_service.py
  core/services/ai/churn/churn_intelligence/orchestrator/churn_orchestrator_service.py
  core/services/system/alerts/alerts_fusion/live_monitoring_service.py
  core/services/system/optimization/optimization_fusion/performance/performance_analysis_service.py
  core/services/system/optimization/optimization_fusion/recommendations/recommendation_engine_service.py
  docs/PHASE1_SCALABILITY_FIXES_COMPLETE.md
  docs/deployment/TELEGRAM_LOGIN_FIX.md
  infra/adapters/payment/stripe_payment_adapter.py
  scripts/send_scheduled_posts.py
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

security: remove hardcoded database passwords from scripts
  scripts/send_scheduled_posts.py
  scripts/verify_bot_channel_access.py
Owners: @devops-team, @backend-lead

frontend: move AI Services to Workers section and rename to AI Worker
  apps/frontend/apps/user/src/i18n/locales/en/navigation.json
  apps/frontend/apps/user/src/i18n/locales/uz/navigation.json
  apps/frontend/apps/user/src/shared/components/navigation/NavigationBar/NavigationBar.tsx
Owners: @lead-maintainer, @project-lead

fix(api): handle SentCodeTypeSetUpEmailRequired in simple setup
  apps/api/routers/user_mtproto/setup.py
Owners: @lead-maintainer, @project-lead

api: add detailed logging for MTProto code delivery type
  apps/api/routers/user_mtproto/setup.py
Owners: @lead-maintainer, @project-lead

feat(api): add validation to detect if user uses same Telegram account for login and MTProto
  apps/api/routers/user_mtproto/setup.py
  apps/api/routers/user_mtproto/verification.py
Owners: @lead-maintainer, @project-lead

Add MTProto session management, AI settings improvements, and frontend enhancements
  MTPROTO_SESSION_MANAGEMENT_IMPLEMENTATION.md
  apps/api/routers/user_mtproto/connection.py
  apps/celery_legacy_DO_NOT_USE/__init__.py
  apps/frontend/apps/user/src/AppRouter.tsx
  apps/frontend/apps/user/src/config/routes.ts
  apps/frontend/apps/user/src/features/ai/components/UserAIDashboard/EditAISettingsDialog.tsx
  apps/frontend/apps/user/src/features/ai/components/UserAIDashboard/index.tsx
  apps/frontend/apps/user/src/features/ai/pages/AISettingsPage.tsx
  apps/frontend/apps/user/src/features/mtproto-setup/api.ts
  apps/frontend/apps/user/src/pages/MTProtoMonitoringPage/components/AccountInfoCard.tsx
  apps/frontend/apps/user/src/pages/MTProtoMonitoringPage/components/MTProtoQuickActionsCard.tsx
  apps/frontend/apps/user/src/pages/MTProtoMonitoringPage/hooks.ts
  apps/frontend/apps/user/src/pages/MTProtoMonitoringPage/index.tsx
  test_mtproto_endpoints.sh
Owners: @lead-maintainer, @project-lead

Cleanup obsolete documentation and scripts
  AI_WORKER_ARCHITECTURE.md
  AI_WORKER_IMPLEMENTATION_SUMMARY.md
  AI_WORKER_QUICKSTART.md
  I18N_COMPLETE_STATUS.md
  I18N_COVERAGE_REPORT.md
  I18N_MIGRATION_STATUS_DEC17.md
  MTPROTO_SESSION_MANAGEMENT_IMPLEMENTATION.md
  RENAMING_SUMMARY.md
  test_mtproto_endpoints.sh
Owners: @lead-maintainer, @project-lead

.50
  docker/nginx/prod.conf
Owners: @lead-maintainer, @project-lead

feat(owner): Implement real K8s management backend
  .env.production.example
  apps/api/middleware/csrf.py
  apps/api/routers/owner_router.py
  core/services/k8s/__init__.py
  core/services/k8s/k8s_service.py
  infra/db/repositories/credit_repository.py
  requirements.prod.in
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

fix(owner): Use Vite proxy for API calls in dev mode
  apps/frontend/apps/owner/src/config/index.ts
Owners: @lead-maintainer, @project-lead

feat: Add 2bot.org domain support for user dashboard
  apps/frontend/apps/app_analyticbot/user/package-lock.json
  apps/frontend/apps/app_analyticbot/user/package.json
  apps/frontend/apps/app_analyticbot/user/src/features/ai/components/UserAIDashboard/EditAISettingsDialog.tsx
  apps/frontend/apps/app_analyticbot/user/src/features/ai/pages/AISettingsPage.tsx
  apps/frontend/apps/app_analyticbot/user/src/features/bot/components/UserBotDashboard/index.tsx
  apps/frontend/apps/app_analyticbot/user/src/features/bot/components/dialogs/BotDashboardDialogs.tsx
  apps/frontend/apps/app_analyticbot/user/src/shared/components/navigation/NavigationBar/NavigationBar.tsx
  apps/frontend/apps/app_analyticbot/user/src/utils/crossDomainAuth.ts
  apps/frontend/apps/app_analyticbot/user/vite.config.js
  apps/frontend/packages/shared-auth/src/index.ts
  infra/k8s/k8s-config.yaml
  infra/k8s/k8s-host-services.yaml
  infra/nginx/2bot.cloudflare.conf
Owners: @lead-maintainer, @project-lead

refactor: Complete migration from app.analyticbot.org to 2bot.org
  apps/frontend/apps/analyticbot/public/src/config/index.ts
  apps/frontend/apps/analyticbot/public/src/layouts/PublicLayout.tsx
  apps/frontend/apps/analyticbot/public/src/pages/ChannelPage.tsx
  apps/frontend/apps/analyticbot/public/src/pages/HomePage.tsx
  apps/frontend/apps/app_analyticbot/admin/vite.config.js
  apps/frontend/apps/app_analyticbot/user/src/api/client.ts
  apps/frontend/apps/app_analyticbot/user/src/config/env.ts
  apps/frontend/apps/app_analyticbot/user/vite.config.js
  apps/frontend/packages/shared-auth/src/index.ts
  infra/nginx/2bot.cloudflare.conf
  infra/nginx/analyticbot.cloudflare.conf
Owners: @lead-maintainer, @project-lead

fix: Update dev-start scripts to use new 2bot folder path
  scripts/dev-start.sh
  scripts/system/dev-start.sh
Owners: @devops-team, @backend-lead

Initial commit: Analyticbot v2 — channel analytics platform
  .env.example
  .gitignore
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  pyproject.toml
  src/__init__.py
  src/analyzer/__init__.py
  src/analyzer/fetcher.py
  src/analyzer/metrics.py
  src/analyzer/pipeline.py
  src/api/__init__.py
  src/api/main.py
  src/api/routes/__init__.py
  src/api/routes/analyze.py
  src/api/routes/reports.py
  src/bot/__init__.py
  src/bot/handlers.py
  src/bot/main.py
  src/config.py
  src/db/__init__.py
  src/db/models.py
  src/db/repository.py
  src/db/session.py
  src/reports/__init__.py
  src/reports/charts.py
  src/reports/pdf.py
  tests/__init__.py
Owners: @devops-lead, @security-team, @lead-maintainer, @project-lead, @backend-lead, @docs-team, @database-admin, @qa-team

Add backups/ to gitignore, configure remote
  .gitignore
Owners: @lead-maintainer, @project-lead

Fix: use venv python/uvicorn in Makefile
  Makefile
Owners: @devops-lead, @backend-lead

Fix: switch charts from Plotly/Kaleido to matplotlib (no Chrome dependency), timezone-aware DateTime columns
  src/db/models.py
  src/reports/charts.py
Owners: @database-admin, @backend-lead, @lead-maintainer, @project-lead

feat: complete analyticbot overhaul with i18n, smart analytics, and PDF improvements
  .env.example
  .gitignore
  =5.2
  Makefile
  docker/Dockerfile
  src/analyzer/fetcher.py
  src/analyzer/metrics.py
  src/analyzer/pipeline.py
  src/api/main.py
  src/api/routes/analyze.py
  src/api/security.py
  src/bot/handlers.py
  src/bot/i18n.py
  src/bot/main.py
  src/cache.py
  src/config.py
  src/db/repository.py
  src/db/session.py
  src/reports/charts.py
  src/reports/pdf.py
  tests/test_fetcher.py
  tests/test_metrics.py
  tests/test_security.py
Owners: @devops-lead, @security-team, @lead-maintainer, @project-lead, @backend-lead, @qa-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders
