Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

fix: Resolve all type errors and import issues
  apps/frontend/src/components/HealthStartupSplash.tsx
  apps/frontend/src/components/alerts/RealTimeAlerts/RealTimeAlertsSystem.tsx
Owners: @lead-maintainer, @project-lead

fix: Replace demo data with real API integration in RealTimeAlerts
  apps/frontend/src/components/alerts/RealTimeAlerts/NotificationEngine.tsx
  apps/frontend/src/components/alerts/RealTimeAlerts/RealTimeAlertsSystem.tsx
Owners: @lead-maintainer, @project-lead

feat: Migrate Batch 24 - Main Pages (AdminDashboard, ProfilePage) to TypeScript
  =0.21.1
  =7.4.3
  apps/frontend/src/pages/AdminDashboard.tsx
  apps/frontend/src/pages/ProfilePage.tsx
Owners: @lead-maintainer, @project-lead

feat: Migrate Batch 25 - Services Layer to TypeScript
  apps/frontend/src/services/ChurnPredictorService.tsx
  apps/frontend/src/services/ContentOptimizerService.tsx
  apps/frontend/src/services/SecurityMonitoringService.tsx
Owners: @lead-maintainer, @project-lead

feat: Migrate ChannelSelector component to TypeScript (Batch 26 partial)
  apps/frontend/src/components/ChannelSelector.tsx
Owners: @lead-maintainer, @project-lead

fix: Issue #1 - Remove deprecated parameter usage (ahead of deadline)
  apps/api/routers/auth_router.py
  apps/frontend/src/components/DataSourceSettings.tsx
  apps/frontend/src/components/EnhancedMediaUploader.tsx
  apps/frontend/src/components/StorageFileBrowser.tsx
  docs/ISSUE_1_DEPRECATED_FILES_COMPLETE.md
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat(frontend): Complete Batch 26 - Component files migration (DataSourceSettings, EnhancedMediaUploader, StorageFileBrowser)
  docs/ISSUE_1_DEPRECATED_FILES_COMPLETE.md
Owners: @docs-team

feat(frontend): Complete Batch 27 - Layout components migration (EnhancedCard, MobileNavigationDrawer, MobileResponsiveEnhancements)
  apps/frontend/src/components/domains/navigation/NavigationBar/MobileNavigationDrawer.tsx
  apps/frontend/src/components/layout/EnhancedCard.tsx
  apps/frontend/src/components/layout/MobileResponsiveEnhancements.tsx
  docs/ISSUE_1_DEPRECATED_FILES_COMPLETE.md
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat: Issue #9 - Alert System Delivery with Telegram Integration
  apps/frontend/src/components/animations/InteractiveButtons.tsx
  apps/frontend/src/components/animations/InteractiveCards.tsx
  apps/frontend/src/components/animations/MicroInteractions.tsx
  apps/jobs/alerts/runner.py
  coverage.json
  docs/ISSUE_9_ALERT_DELIVERY_COMPLETE.md
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
  infra/adapters/telegram_alert_delivery.py
  infra/db/migrations/002_alert_system.sql
  tests/test_infra/test_telegram_alert_delivery.py
Owners: @lead-maintainer, @project-lead, @docs-team, @qa-team, @backend-lead

Batch 28: Migrate animation components to TypeScript (InteractiveButtons, InteractiveCards, MicroInteractions)
  apps/frontend/src/components/animations/InteractiveButtons.jsx
  apps/frontend/src/components/animations/InteractiveCards.jsx
  apps/frontend/src/components/animations/InteractiveCards.tsx
  apps/frontend/src/components/animations/MicroInteractions.jsx
Owners: @lead-maintainer, @project-lead

fix: Use DI container for AlertRunner dependencies
  apps/frontend/PHASE_4.4_COMPONENT_MIGRATION_PLAN.md
  apps/frontend/PHASE_4.5_COMPLETE.md
  apps/frontend/TYPESCRIPT_ERROR_FIX_COMPLETE.md
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/AdminStatsCards.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/AuditLogsTab.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/OverviewTab.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/UserManagementTab.tsx
  apps/frontend/src/components/layout/TabletOptimizations.tsx
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/hooks/useAdminAPI.ts
  apps/frontend/src/hooks/useApiFailureDialog.ts
  apps/frontend/src/hooks/useAuthenticatedDataSource.ts
  apps/frontend/src/hooks/useMobileResponsive.ts
  apps/frontend/src/hooks/useRealTimeAnalytics.ts
  apps/frontend/src/hooks/useSpecializedAnalytics.ts
  apps/jobs/alerts/runner.py
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat: Issue #6 - Remove deprecated service registrations
  apps/bot/middlewares/dependency_middleware.py
  apps/celery/tasks/bot_tasks.py
  apps/di/bot_container.py
  apps/frontend/src/components/layout/TabletOptimizations.jsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 30 - Migrate payment components to TypeScript (PaymentForm, PlanSelector)
  apps/frontend/src/components/payment/PaymentForm.tsx
  apps/frontend/src/components/payment/PlanSelector.tsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Batch 31 - Migrate content protection components to TypeScript
  apps/frontend/src/components/content/TheftDetection.tsx
  apps/frontend/src/components/content/WatermarkTool.tsx
Owners: @lead-maintainer, @project-lead

feat: Issue #10 - Chart Service DI Injection
  apps/api/routers/exports_router.py
  apps/api/routers/sharing_router.py
  apps/bot/handlers/admin_handlers.py
  apps/bot/handlers/exports.py
  apps/di/bot_container.py
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @lead-maintainer, @project-lead, @docs-team

docs: Update progress - Issue #10 complete
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @docs-team

docs: Comprehensive status update - TOP 10 APPS Issues
  apps/frontend/src/components/analytics/TopPostsTable/TopPostsTableConfig.tsx
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  apps/frontend/src/domains/analytics/PostsTable.tsx
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @lead-maintainer, @project-lead, @docs-team

refactor(frontend): Migrate dashboard pages to TypeScript (Batch 34 → 94.34%)
  apps/bot/services/adapters/payment_adapter_factory.py
  apps/frontend/src/components/pages/EnhancedDashboardPage.tsx
  apps/frontend/src/components/pages/MobileResponsiveDashboard.tsx
  tests/unit/payment/__init__.py
  tests/unit/payment/test_payment_processing_service.py
  tests/unit/payment/test_subscription_service.py
  tests/unit/payment/test_webhook_service.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

feat(tests): Add comprehensive payment system test suite (Issue #5)
  apps/frontend/src/__mocks__/services/ChurnPredictorService.tsx
  apps/frontend/src/__mocks__/services/PredictiveAnalyticsService.tsx
  importlinter.ini
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @backend-lead, @devops-lead

refactor(frontend): Complete JSX→TSX migration - FINAL BATCH 36 → 100% 🎉🎉🎉
  apps/frontend/src/App.test.tsx
  apps/frontend/src/__mocks__/components/demo/AnalyticsAdapterDemo.tsx
  apps/frontend/src/__mocks__/components/showcase/tables/GenericTableDemo.tsx
  apps/frontend/src/__mocks__/components/showcase/tables/UsersTableDemo.tsx
  apps/frontend/src/main.test.tsx
  apps/frontend/src/test/AnalyticsDashboard.test.tsx
  apps/frontend/src/test/AnalyticsDashboardGolden.test.tsx
  apps/frontend/src/test/BestTimeRecommender.test.tsx
  apps/frontend/src/test/PostViewDynamicsChart.test.tsx
  apps/frontend/src/test/TopPostsTable.test.tsx
Owners: @lead-maintainer, @project-lead

refactor(frontend): Organize mock/demo code - Phase 1 Complete 🎯
  apps/frontend/MOCK_DEMO_CLEANUP_PLAN.md
  apps/frontend/PHASE_4.4_COMPONENT_MIGRATION_PLAN.md
  apps/frontend/PHASE_4.5_COMPLETE.md
  apps/frontend/REFACTORING_PLAN.md
  apps/frontend/src/__mocks__/aiServices/aiServicesAPIService.js
  apps/frontend/src/__mocks__/components/showcase/tables/PostsTableDemo.tsx
  apps/frontend/src/__mocks__/config/mockConfig.js
  apps/frontend/src/__mocks__/services/storageMockService.js
  apps/frontend/src/__mocks__/utils/__tests__/demoUserUtils.test.js
  apps/frontend/src/__mocks__/utils/__tests__/simpleDemoTest.js
  apps/frontend/src/__mocks__/utils/demoUserUtils.js
  apps/frontend/src/__mocks__/utils/testDemoFallback.js
  apps/frontend/src/components/showcase/index.js
  apps/frontend/src/services/analyticsService.js
Owners: @lead-maintainer, @project-lead

docs: Mark Issue #5 (Payment Tests) as COMPLETED ✅
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
Owners: @docs-team

refactor(frontend): Update import paths for moved mock files - Phase 2 ✅
  apps/frontend/src/components/showcase/TablesShowcase.tsx
  apps/frontend/src/store/appStore.js
Owners: @lead-maintainer, @project-lead

feat(payment): Replace StubSubscriptionService with real SubscriptionAdapter (Issue #3 Phase 1) ✅
  apps/bot/adapters/content/__init__.py
  apps/bot/adapters/content/subscription.py
  apps/di/bot_container.py
  apps/frontend/MOCK_DEMO_CLEANUP_PLAN.md
  apps/frontend/src/components/showcase/tables/PostsTableDemo.tsx
  apps/frontend/src/services/ContentOptimizerService.tsx
  apps/frontend/src/test/PostViewDynamicsChart.test.jsx
Owners: @lead-maintainer, @project-lead

feat(content): Implement premium feature usage tracking (Issue #3 Phase 2) ✅
  apps/api/routers/content_protection_router.py
  apps/bot/adapters/content/__init__.py
  apps/bot/adapters/content/subscription.py
  apps/bot/handlers/content_protection.py
  apps/di/bot_container.py
  apps/frontend/MOCK_DEMO_CLEANUP_PLAN.md
  apps/frontend/src/__mocks__/README.md
  apps/frontend/src/__mocks__/utils/README.md
  apps/frontend/src/__mocks__/utils/demoGuard.examples.tsx
  apps/frontend/src/__mocks__/utils/demoGuard.ts
  apps/frontend/src/services/ContentOptimizerService.tsx
  apps/frontend/src/services/SecurityMonitoringService.tsx
  apps/frontend/src/services/aiServicesAPI.js
  infra/db/repositories/user_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

feat(tasks): Implement bot task maintenance operations (Issue #3 Phase 3) ✅
  apps/bot/tasks.py
  apps/celery/tasks/bot_tasks.py
  infra/db/repositories/schedule_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

feat(api): Implement channel management and AI security analysis (Issue #3 Phase 4) ✅
  apps/api/routers/ai_services_router.py
  apps/api/services/channel_management_service.py
  core/ports/repository_ports.py
  core/services/channel_service.py
Owners: @lead-maintainer, @project-lead

docs: Update TOP_10 plan + fix import linter violations
  docs/TOP_10_APPS_ISSUES_FIX_PLAN.md
  importlinter.ini
  pyproject.toml
Owners: @docs-team, @lead-maintainer, @project-lead, @backend-lead, @devops-lead

refactor(bot): Split content_protection god object into modular package (Issue #4 Phase 2) ✅
  apps/bot/handlers/content_protection/theft_detection.py
  apps/bot/handlers/content_protection/usage_tracking.py
  apps/bot/handlers/content_protection/watermarking.py
  apps/frontend/EMBEDDED_MOCK_CODE_AUDIT.md
  apps/frontend/MOCK_DEMO_CLEANUP_PLAN.md
  apps/frontend/src/__mocks__/api/shareLinks.ts
  apps/frontend/src/__mocks__/utils/REACTIVE_SWITCHING.md
  apps/frontend/src/__mocks__/utils/demoGuard.examples.md
  apps/frontend/src/components/common/ShareButton.tsx
  apps/frontend/src/components/content/TheftDetection.tsx
  apps/frontend/src/components/features/ai-services/SecurityMonitoring/SecurityMonitoringPage.tsx
  apps/frontend/src/services/ContentOptimizerService.tsx
  apps/frontend/src/services/SecurityMonitoringService.tsx
Owners: @lead-maintainer, @project-lead

fix(frontend): Improve NavigationProvider logging and fix aria-hidden accessibility issue
  apps/frontend/src/components/common/NavigationProvider.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/TabPanel.tsx
Owners: @lead-maintainer, @project-lead

refactor(di): Split bot_container god object into modular providers (Issue #4 Phase 1)
  apps/di/bot_container.py
  apps/di/bot_container_old.py
  apps/di/providers/__init__.py
  apps/di/providers/adapters.py
  apps/di/providers/alert_providers.py
  apps/di/providers/bot_infrastructure.py
  apps/di/providers/bot_services.py
  apps/di/providers/content_protection_providers.py
  apps/di/providers/metrics_providers.py
  apps/di/providers/scheduling_providers.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Add Quick Wins to Analytics Dashboard 🚀
  apps/api/main.py
  apps/frontend/src/components/dashboard/AnalyticsDashboard/AnalyticsDashboard.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/DataSourceBanner.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/ExportButtons.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/HeroMetricsSection.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/LastUpdatedIndicator.tsx
  apps/frontend/src/components/pages/DashboardPage.tsx
  apps/frontend/src/test/BestTimeRecommender.test.tsx
Owners: @lead-maintainer, @project-lead

docs(audit): Complete service-to-router mapping audit 🔍
  SERVICE_ROUTER_AUDIT.md
Owners: @lead-maintainer, @project-lead

docs(status): Add current service-router status report ✅
  CURRENT_STATUS_SUMMARY.md
Owners: @lead-maintainer, @project-lead

chore: cleanup additional JS-to-TS migration files
  apps/api/routers/auth/__init__.py
  apps/api/routers/auth/profile.py
  apps/api/routers/auth/router.py
  apps/api/routers/auth_router.py
  apps/frontend/src/utils/advancedPerformance.ts
  apps/frontend/src/utils/codeSplitting.js
  apps/frontend/src/utils/codeSplitting.ts
  apps/frontend/src/utils/componentPerformance.js
  apps/frontend/src/utils/offlineStorage.js
  apps/frontend/src/utils/performanceMonitor.js
Owners: @lead-maintainer, @project-lead

docs(issue-4): Add Phase 3 documentation + fix import linter config
  docs/ISSUE_4_PHASE_3_AUTH_ROUTER_COMPLETE.md
  pyproject.toml
Owners: @docs-team, @backend-lead, @devops-lead, @lead-maintainer

refactor(api): Split insights_predictive_router into modular package (Issue #4 Phase 4) ✅
  apps/api/main.py
  apps/api/routers/insights_predictive/__init__.py
  apps/api/routers/insights_predictive/dependencies.py
  apps/api/routers/insights_predictive/intelligence.py
  apps/api/routers/insights_predictive/models.py
  apps/api/routers/insights_predictive/recommendations.py
  apps/api/routers/insights_predictive/router.py
  apps/api/routers/insights_predictive_router.py
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead, @devops-lead

refactor(bot): Split data_processor into modular package (Issue #4 Phase 5) ✅
  apps/bot/utils/data_processor.py
  apps/bot/utils/data_processor/__init__.py
  apps/bot/utils/data_processor/base.py
  apps/bot/utils/data_processor/cleaning.py
  apps/bot/utils/data_processor/ingestion.py
  apps/bot/utils/data_processor/processor.py
  apps/bot/utils/data_processor/quality.py
  apps/bot/utils/data_processor/transformation.py
Owners: @lead-maintainer, @project-lead

docs(audit): Update SERVICE_ROUTER_AUDIT.md with verified current status
  SERVICE_ROUTER_AUDIT.md
Owners: @lead-maintainer, @project-lead

docs(verification): Add comprehensive system verification summary
  VERIFICATION_SUMMARY_OCT_22.md
Owners: @lead-maintainer, @project-lead

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders
