Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders

fix: resolve import and attribute access issues
  apps/mtproto/di/__init__.py
  core/services/adaptive_learning/learning/incremental/context/context_management_service.py
  core/services/adaptive_learning/learning/incremental/memory/memory_management_service.py
  core/services/adaptive_learning/learning/incremental/model_ops/model_operations_service.py
  core/services/adaptive_learning/learning/incremental/strategy/learning_strategy_service.py
Owners: @lead-maintainer, @project-lead

fix: resolve all reported type and attribute issues
  PAYMENT_LEGACY_CLEANUP_PLAN.md
  core/services/adaptive_learning/learning/incremental/context/context_management_service.py
  core/services/adaptive_learning/learning/incremental/memory/memory_management_service.py
  core/services/adaptive_learning/learning/incremental/model_ops/model_operations_service.py
  core/services/payment/processing/payment_processing_service.py
Owners: @lead-maintainer, @project-lead

fix: correct payment protocols import path
  core/services/payment/processing/payment_processing_service.py
Owners: @lead-maintainer, @project-lead

feat: remove legacy payment service files - migration to microservices complete
  apps/bot/api/payment_router.py
  apps/bot/services/payment_service.py
  apps/bot/services/stripe_adapter.py
  tests/quick_payment_test.py
  tests/test_payment_system.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

docs: add comprehensive payment microservices completion report
  PAYMENT_LEGACY_CLEANUP_PLAN.md
  PAYMENT_MICROSERVICES_COMPLETION_REPORT.md
Owners: @lead-maintainer, @project-lead

refactor: update payment protocols to use domain models for Clean Architecture compliance
  apps/bot/di.py
  core/domain/payment/__init__.py
  core/domain/payment/models.py
  core/protocols/payment/__init__.py
  core/protocols/payment/payment_protocols.py
  infra/services/payment/__init__.py
  infra/services/payment/analytics/payment_analytics_service.py
  infra/services/payment/gateway/payment_gateway_manager_service.py
  infra/services/payment/methods/payment_method_service.py
  infra/services/payment/orchestrator/payment_orchestrator_service.py
  infra/services/payment/processing/payment_processing_service.py
  infra/services/payment/protocols/payment_protocols.py
  infra/services/payment/subscriptions/subscription_service.py
  infra/services/payment/webhooks/webhook_service.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

fix: update payment method and processing services to use domain models
  infra/services/payment/methods/payment_method_service.py
  infra/services/payment/processing/payment_processing_service.py
Owners: @lead-maintainer, @project-lead

fix: complete payment microservices architectural migration to Clean Architecture
  apps/api/main.py
  infra/services/payment/protocols/payment_protocols.py
  infra/services/payment/subscriptions/subscription_service.py
Owners: @lead-maintainer, @project-lead

feat: complete payment microservices architecture with API router
  apps/api/main.py
  apps/bot/api/payment_router.py
  infra/services/payment/orchestrator/payment_orchestrator_service.py
Owners: @lead-maintainer, @project-lead

refactor: move adapters to clean architecture layers (Phase 1)
  ARCHITECTURE_REFACTORING_PROGRESS.md
  FAT_SERVICES_REFACTORING_ROADMAP.md
  PAYMENT_LEGACY_CLEANUP_PLAN.md
  PAYMENT_MICROSERVICES_COMPLETION_REPORT.md
  PAYMENT_MICROSERVICES_REFACTORING_REPORT.md
  PRODUCTION_READINESS_AUDIT.md
  SERVICE_ARCHITECTURE_GUIDE.md
  apps/bot/services/adapters/base_adapter.py
  apps/bot/services/adapters/payment_adapter_factory.py
  core/adapters/__init__.py
  core/adapters/analytics/__init__.py
  core/adapters/analytics/analytics_adapter_protocol.py
  core/adapters/payment/__init__.py
  core/adapters/payment/payment_adapter_protocol.py
  core/services/analytics_fusion/__init__.py
  core/services/analytics_fusion/monitoring/__init__.py
  core/services/analytics_fusion/monitoring/live_monitoring_service.py
  core/services/analytics_fusion/reporting/__init__.py
  core/services/analytics_fusion/reporting/reporting_service.py
  core/services/predictive_intelligence/temporal/temporal_intelligence_service.py
  infra/adapters/__init__.py
  infra/adapters/analytics/__init__.py
  infra/adapters/analytics/factory.py
  infra/adapters/analytics/mock_analytics_adapter.py
  infra/adapters/analytics/tg_analytics_adapter.py
  infra/adapters/payment/__init__.py
  infra/adapters/payment/factory.py
  infra/adapters/payment/mock_payment_adapter.py
  infra/adapters/payment/stripe_payment_adapter.py
Owners: @lead-maintainer, @project-lead

docs: comprehensive architecture analysis and Phase 2 planning
  ARCHITECTURE_REFACTORING_PROGRESS.md
Owners: @lead-maintainer, @project-lead

refactor: Add cache abstraction for GuardService (Clean Architecture)
  GUARD_SERVICE_REFACTORING.md
  apps/bot/di.py
  apps/bot/services/guard_service.py
  core/ports/__init__.py
  core/ports/cache_port.py
  infra/cache/__init__.py
  infra/cache/redis_cache_adapter.py
  tests/unit/test_cache_adapter.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

fix: Resolve redis.asyncio type annotation issues in cache adapter
  infra/cache/redis_cache_adapter.py
Owners: @lead-maintainer, @project-lead

docs: Add comprehensive TOP 10 apps layer architectural issues analysis
  TOP_10_APPS_LAYER_ISSUES.md
Owners: @lead-maintainer, @project-lead

feat(analytics): Phase 1 Step 1 - Core infrastructure created
  .gitignore
  GUARD_SERVICE_REFACTORING.md
  PHASE1_STEP1_COMPLETED.md
  apps/api/middleware/__init__.py
  apps/api/routers/auth_router.py
  config/settings.py
  core/ports/telegram_port.py
  core/repositories/interfaces.py
  core/security_engine/auth.py
  core/security_engine/models.py
  core/services/analytics/__init__.py
  core/services/analytics/analytics_batch_processor.py
  docs/REMOTE_ACCESS_SETUP.md
  infra/adapters/analytics/aiogram_bot_adapter.py
  infra/adapters/analytics/telegram_analytics_adapter.py
  infra/db/repositories/user_repository.py.corrupted
  scripts/dev-start.sh
  scripts/install-devtunnel.sh
  scripts/setup-devtunnel.sh
Owners: @lead-maintainer, @project-lead, @devops-lead, @backend-lead, @database-admin, @docs-team, @devops-team

fix: resolve type errors in auth and analytics
  apps/api/auth_utils.py
  apps/api/routers/auth_router.py
  core/security_engine/auth.py
  core/services/analytics/__init__.py
  core/services/analytics/analytics_batch_processor.py
Owners: @lead-maintainer, @project-lead

feat(analytics): Phase 1 Step 2 - Bot analytics adapter created
  PHASE1_STEP2_COMPLETED.md
  apps/bot/adapters/__init__.py
  apps/bot/adapters/analytics_adapter.py
Owners: @lead-maintainer, @project-lead

feat(reporting): Phase 1 Step 3 - Reporting service migrated to core
  PHASE1_STEP3_COMPLETED.md
  apps/bot/adapters/__init__.py
  apps/bot/adapters/reporting_adapter.py
  core/services/reporting/__init__.py
  core/services/reporting/reporting_service.py
Owners: @lead-maintainer, @project-lead

feat(dashboard): Phase 1 Step 4 - Dashboard service migrated to core
  PHASE1_STEP4_COMPLETED.md
  apps/bot/adapters/__init__.py
  apps/bot/adapters/dashboard_adapter.py
  core/services/dashboard/__init__.py
  core/services/dashboard/dashboard_service.py
Owners: @lead-maintainer, @project-lead

fix: resolve 47 type errors after service migrations
  apps/api/auth_utils.py
  apps/bot/adapters/dashboard_adapter.py
  apps/bot/adapters/reporting_adapter.py
  apps/frontend/src/providers/DataProvider.js
  apps/frontend/src/services/apiClient.js
  apps/frontend/src/utils/dataSourceManager.js
  apps/frontend/src/utils/initializeApp.js
  apps/frontend/vite.config.js
  core/services/dashboard/dashboard_service.py
Owners: @lead-maintainer, @project-lead

feat: Phase 1.4 - DI Container Consolidation (51% reduction)
  apps/api/di_container/analytics_container_compat.py
  apps/bot/di_compat.py
  apps/frontend/src/api/client.js
  apps/shared/di.py
  apps/shared/unified_di.py
  docs/phase_1_4_di_consolidation.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat: Phase 1.5 Part 1 - Break API→Bot Cross-Dependencies (Models & Clients)
  PHASE1_STEP1_COMPLETED.md
  apps/api/deps_factory.py
  apps/api/routers/system_router.py
  apps/api/services/initial_data_service.py
  apps/frontend/src/utils/initializeApp.js
  apps/shared/clients/__init__.py
  apps/shared/clients/analytics_client.py
  apps/shared/models/__init__.py
  apps/shared/models/twa.py
Owners: @lead-maintainer, @project-lead

fix: resolve type errors in unified DI container
  apps/api/di_container/analytics_container_compat.py
  apps/frontend/src/api/client.js
  apps/frontend/src/providers/DataProvider.js
  apps/frontend/src/services/apiClient.js
  apps/frontend/src/utils/dataSourceManager.js
  apps/frontend/vite.config.js
  apps/shared/unified_di.py
Owners: @lead-maintainer, @project-lead

feat(architecture): Phase 2 Option B - Eliminate API→Bot cross-dependencies
  PHASE1_STEP2_COMPLETED.md
  PHASE1_STEP3_COMPLETED.md
  PHASE1_STEP4_COMPLETED.md
  apps/api/exports/csv_v2.py
  apps/api/main.py
  apps/api/routers/ai_services_router.py
  apps/api/routers/analytics_alerts_router.py
  apps/api/routers/analytics_live_router.py
  apps/api/routers/exports_router.py
  apps/api/routers/insights_predictive_router.py
  apps/api/routers/mobile_router.py
  apps/api/routers/sharing_router.py
  apps/bot/api/content_protection_router.py
  apps/bot/api/payment_router.py
  apps/bot/services/adapters/bot_ml_facade_compat.py
  apps/bot/services/adapters/ml_coordinator_compat.py
  apps/shared/adapters/__init__.py
  apps/shared/adapters/ml_coordinator.py
  apps/shared/adapters/ml_facade.py
  apps/shared/api/__init__.py
  apps/shared/api/content_protection_router.py
  apps/shared/api/payment_router.py
  docs/phase_2_option_b_audit.md
Owners: @lead-maintainer, @project-lead, @docs-team

docs: Add Phase 2 Option B completion summary
  PHASE2_OPTION_B_COMPLETED.md
Owners: @lead-maintainer, @project-lead

fix: Properly convert Pydantic models to dicts in exports_router
  PHASE2_OPTION_B_COMPLETED.md
  apps/api/routers/analytics_alerts_router.py
  apps/api/routers/exports_router.py
  apps/api/routers/system_router.py
  apps/shared/models/twa.py
Owners: @lead-maintainer, @project-lead

fix: Replace type:ignore with real fixes across all routers
  apps/api/routers/analytics_alerts_router.py
  apps/api/routers/system_router.py
  apps/bot/services/alerting_service.py
Owners: @lead-maintainer, @project-lead

fix: Complete remaining type errors with real solutions
  apps/api/routers/analytics_alerts_router.py
  apps/api/services/initial_data_service.py
  apps/bot/services/alerting_service.py
  apps/shared/models/alerts.py
Owners: @lead-maintainer, @project-lead

fix: Correct Pydantic model field names to match actual definitions
  apps/api/routers/analytics_alerts_router.py
  apps/api/services/initial_data_service.py
Owners: @lead-maintainer, @project-lead

feat(di): Implement Modular DI Architecture - Eliminate God Object
  DI_ARCHITECTURE_ANALYSIS.md
  DI_MIGRATION_COMPLETE_PLAN.md
  MODULAR_DI_IMPLEMENTATION_COMPLETE.md
  TOP_10_APPS_LAYER_ISSUES_UPDATED.md
  apps/api/main.py
  apps/api/middleware/auth.py
  apps/api/routers/analytics_channels_router.py
  apps/api/routers/auth_router.py
  apps/api/routers/system_router.py
  apps/api/services/health_service.py
  apps/di/__init__.py
  apps/di/api_container.py
  apps/di/bot_container.py
  apps/di/cache_container.py
  apps/di/core_services_container.py
  apps/di/database_container.py
  apps/di/ml_container.py
  apps/frontend/src/api/client.js
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/DataSourceStatus.jsx
  apps/frontend/src/components/animations/MicroInteractions.jsx
  apps/frontend/src/components/common/GlobalDataSourceSwitch.jsx
  apps/frontend/src/components/common/StandardComponents.jsx
  apps/frontend/src/components/common/TouchTargetCompliance.jsx
  apps/frontend/src/components/common/UnifiedButton.jsx
  apps/frontend/src/config/mockConfig.js
  apps/frontend/src/contexts/AuthContext.jsx
  apps/frontend/src/services/authAwareAPI.js
  apps/frontend/src/store/appStore.js
  apps/frontend/src/utils/initializeApp.js
  docs/VERIFICATION_REPORT_13_OCT_2025.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix(di): Fix type errors in DI containers
  TELEGRAM_INTEGRATION_SUMMARY.md
  apps/api/di_analytics.py
  apps/api/routers/analytics_channels_router.py
  apps/api/routers/channels_router.py
  apps/api/services/channel_management_service.py
  apps/api/services/telegram_validation_service.py
  apps/di/api_container.py
  apps/di/bot_container.py
  apps/di/core_services_container.py
  apps/frontend/src/store/appStore.js
  apps/mtproto/config.py
Owners: @lead-maintainer, @project-lead

feat(di): Complete Phase 2 migration - All legacy DI imports migrated
  DI_ARCHITECTURE_ANALYSIS.md
  DI_MIGRATION_COMPLETE_PLAN.md
  MODULAR_DI_IMPLEMENTATION_COMPLETE.md
  PHASE_2_MIGRATION_STATUS.md
  TYPE_CHECKING_FIXES.md
  apps/api/main.py
  apps/api/routers/channels_router.py
  apps/api/routers/superadmin_router.py
  apps/api/routers/system_router.py
  apps/api/services/channel_management_service.py
  apps/api/services/telegram_validation_service.py
  apps/bot/bot.py
  apps/bot/services/prometheus_service.py
  apps/bot/tasks.py
  apps/celery/tasks/bot_tasks.py
  apps/di/__init__.py
  apps/shared/api/content_protection_router.py
  apps/shared/api/payment_router.py
Owners: @lead-maintainer, @project-lead

docs(di): Add deprecation warnings to legacy DI containers
  LEGACY_VS_NEW_DI_COMPARISON.md
  PHASE_2_MIGRATION_COMPLETE.md
  PHASE_2_MIGRATION_STATUS.md
  TELEGRAM_INTEGRATION_SUMMARY.md
  TYPE_CHECKING_FIXES.md
  apps/api/deps.py
  apps/api/di_container/analytics_container.py
  apps/bot/container.py
  apps/bot/di.py
  apps/shared/di.py
  apps/shared/unified_di.py
Owners: @lead-maintainer, @project-lead

docs(di): Add Phase 2 complete final summary
  PHASE_2_COMPLETE_FINAL_SUMMARY.md
Owners: @lead-maintainer, @project-lead

fix: Fix type errors in content_protection_router and bot.py
  apps/bot/bot.py
  apps/shared/api/content_protection_router.py
Owners: @lead-maintainer, @project-lead

archive: Move legacy DI containers to archive
  archive/legacy_di_containers_2025_10_14/MANIFEST.txt
  archive/legacy_di_containers_2025_10_14/README.md
  archive/legacy_di_containers_2025_10_14/api_analytics_container.py
  archive/legacy_di_containers_2025_10_14/api_deps.py
  archive/legacy_di_containers_2025_10_14/bot_container.py
  archive/legacy_di_containers_2025_10_14/bot_di.py
  archive/legacy_di_containers_2025_10_14/unified_di.py
Owners: @lead-maintainer, @project-lead

docs: Add Phase 2 complete - all tasks done summary
  PHASE_2_ALL_TASKS_COMPLETE.md
  PHASE_2_MIGRATION_COMPLETE.md
Owners: @lead-maintainer, @project-lead

docs: Update TOP 10 with Phase 2 completion
  TOP_10_APPS_LAYER_ISSUES_UPDATED.md
Owners: @lead-maintainer, @project-lead

docs: Add Phase 2 complete status document
  PHASE_2_COMPLETE_STATUS.md
Owners: @lead-maintainer, @project-lead

docs: Add Phase 3 business logic migration plan
  PHASE_3_PLAN.md
Owners: @lead-maintainer, @project-lead
