Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders

refactor(jobs): Split alert runner into modular package (Issue #4 Phase 6) ✅
  apps/jobs/alerts/runner/__init__.py
  apps/jobs/alerts/runner/__main__.py
  apps/jobs/alerts/runner/base.py
  apps/jobs/alerts/runner/cli.py
  apps/jobs/alerts/runner/detector.py
  apps/jobs/alerts/runner/notifier.py
  apps/jobs/alerts/runner/runner.py
  pyproject.toml
Owners: @lead-maintainer, @project-lead, @backend-lead, @devops-lead

refactor(api): Split health service into modular package (Issue #4 Phase 7) ✅
  apps/api/services/health_monitoring/__init__.py
  apps/api/services/health_monitoring/base.py
  apps/api/services/health_monitoring/checker.py
  apps/api/services/health_monitoring/history.py
  apps/api/services/health_monitoring/metrics.py
  apps/api/services/health_monitoring/service.py
  apps/api/services/health_monitoring/utils.py
  apps/api/services/health_service.py
Owners: @lead-maintainer, @project-lead

feat(api): Restore 2 orphaned routers - complete analytics coverage
  apps/api/main.py
Owners: @lead-maintainer, @project-lead

refactor(bot): Split alerts handler into modular package (Issue #4 Phase 8 - FINAL) 🎉
  apps/bot/handlers/alerts/__init__.py
  apps/bot/handlers/alerts/base.py
  apps/bot/handlers/alerts/creation.py
  apps/bot/handlers/alerts/display.py
  apps/bot/handlers/alerts/management.py
  apps/bot/handlers/alerts/presets.py
  apps/bot/handlers/alerts/router.py
Owners: @lead-maintainer, @project-lead

fix: Resolve import and type errors from refactoring
  apps/api/main.py
  apps/bot/handlers/alerts/display.py
  apps/bot/handlers/alerts/management.py
Owners: @lead-maintainer, @project-lead

fix: Update health_history access after refactoring
  apps/api/routers/health_router.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Complete Task 1.4 - Organize hooks into feature-first structure
  PHASE3_DAY1_TASK_1.3_COMPLETE.md
  apps/frontend/src/features/admin/hooks/index.ts
  apps/frontend/src/features/admin/hooks/useAdminAPI.ts
  apps/frontend/src/features/ai-services/ContentOptimizer/ContentOptimizerPage.tsx
  apps/frontend/src/features/ai-services/SecurityMonitoring/SecurityMonitoringPage.tsx
  apps/frontend/src/features/ai-services/hooks/index.ts
  apps/frontend/src/features/ai-services/hooks/useContentOptimizer.ts
  apps/frontend/src/features/ai-services/hooks/usePredictiveAnalytics.ts
  apps/frontend/src/features/ai-services/hooks/useSecurityMonitoring.ts
  apps/frontend/src/features/alerts/RealTimeAlerts/RealTimeAlertsSystem.tsx
  apps/frontend/src/features/alerts/hooks/index.ts
  apps/frontend/src/features/alerts/hooks/useAlerts.ts
  apps/frontend/src/features/analytics/advanced-dashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/features/analytics/hooks/index.ts
  apps/frontend/src/features/analytics/hooks/useRealTimeAnalytics.ts
  apps/frontend/src/features/analytics/hooks/useSpecializedAnalytics.ts
  apps/frontend/src/features/analytics/hooks/useUnifiedAnalytics.ts
  apps/frontend/src/features/dashboard/analytics-dashboard/AnalyticsDashboard.tsx
  apps/frontend/src/features/protection/ContentProtectionPanel.tsx
  apps/frontend/src/features/protection/hooks/index.ts
  apps/frontend/src/features/protection/hooks/useContentProtection.ts
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/shared/components/layout/LayoutUtils.tsx
  apps/frontend/src/shared/components/layout/TabletOptimizations.tsx
  apps/frontend/src/shared/components/ui/ChannelSelector.tsx
  apps/frontend/src/shared/hooks/index.ts
  apps/frontend/src/shared/hooks/useApiFailureDialog.ts
  apps/frontend/src/shared/hooks/useAuthenticatedDataSource.ts
  apps/frontend/src/shared/hooks/useDataSource.ts
  apps/frontend/src/shared/hooks/useMobileResponsive.ts
  apps/frontend/src/shared/hooks/useUserChannels.ts
Owners: @lead-maintainer, @project-lead

refactor(phase3-day2): Update all imports to use path aliases
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/index.ts
  apps/frontend/src/features/payment/dialogs/CancelSubscriptionDialog.tsx
  apps/frontend/src/features/payment/dialogs/PaymentHistoryDialog.tsx
  apps/frontend/src/features/payment/invoices/PaymentHistory.tsx
  apps/frontend/src/features/payment/services/__tests__/paymentStatus.integration.test.ts
  apps/frontend/src/features/payment/services/__tests__/subscriptionStatus.integration.test.ts
  apps/frontend/src/features/payment/subscriptions/SubscriptionCard.tsx
  apps/frontend/src/features/payment/utils/paymentUtils.ts
  apps/frontend/src/features/posts/list/TopPostsTable/components/PostMetricBadge.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/components/PostSummaryStats.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/components/PostTableRow.tsx
  apps/frontend/src/features/posts/list/TopPostsTable/hooks/usePostTableLogic.ts
  apps/frontend/src/shared/components/charts/TopPostsTable/components/PostMetricBadge.tsx
  apps/frontend/src/shared/utils/exportUtils.ts
  apps/frontend/src/shared/utils/postStatus.ts
  apps/frontend/src/shared/utils/tableUtils.ts
  apps/frontend/src/shared/utils/userMigration.ts
  apps/frontend/src/types/__tests__/userTier.integration.test.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/utils/subscriptionMessages.ts
  apps/frontend/src/utils/tierComparison.ts
  apps/frontend/src/validation/apiValidators.ts
  apps/frontend/src/validation/schemas.ts
  scripts/fix-imports.sh
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead

docs(phase3-day3): Add configuration and comprehensive documentation
  DATA_SOURCE_SWITCHING_VERIFICATION.md
  TOP_POSTS_API_FIX.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/IMPORT_GUIDELINES.md
  apps/frontend/docs/STATE_MANAGEMENT.md
  apps/frontend/src/config/env.ts
  apps/frontend/src/config/features.ts
  apps/frontend/src/config/index.ts
  apps/frontend/src/config/routes.ts
  apps/frontend/src/shared/constants/index.ts
Owners: @lead-maintainer, @project-lead

feat(frontend): Add missing pages for complete application coverage
  DATA_SOURCE_SWITCHING_VERIFICATION.md
  apps/frontend/src/AppRouter.tsx
  apps/frontend/src/features/analytics/advanced-dashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/pages/AIServicesPage.tsx
  apps/frontend/src/pages/AddChannelPage.tsx
  apps/frontend/src/pages/ChannelDetailsPage.tsx
  apps/frontend/src/pages/EditPostPage.tsx
  apps/frontend/src/pages/InvoicesPage.tsx
  apps/frontend/src/pages/NotFoundPage.tsx
  apps/frontend/src/pages/PaymentHistoryPage.tsx
  apps/frontend/src/pages/PaymentPage.tsx
  apps/frontend/src/pages/PostDetailsPage.tsx
  apps/frontend/src/pages/PostsPage.tsx
  apps/frontend/src/pages/PredictiveAnalyticsPage.tsx
  apps/frontend/src/pages/ScheduledPostsPage.tsx
  apps/frontend/src/pages/ServerErrorPage.tsx
  apps/frontend/src/pages/SubscriptionPage.tsx
  apps/frontend/src/pages/UnauthorizedPage.tsx
  apps/frontend/src/providers/DataProvider.js
  apps/frontend/src/shared/components/navigation/NavigationBar/NavigationBar.tsx
  apps/frontend/src/utils/dataSourceManager.ts
Owners: @lead-maintainer, @project-lead

fix(frontend): Fix all TypeScript import errors
  TOP_POSTS_API_FIX.md
  apps/frontend/src/api/client.ts
  apps/frontend/src/components/analytics/TopPostsTable/hooks/usePostTableLogic.ts
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.tsx
  apps/frontend/src/components/content/ContentProtectionDashboard.tsx
  apps/frontend/src/features/analytics/advanced-dashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/store/slices/channels/useChannelStore.ts
Owners: @lead-maintainer, @project-lead

perf: Performance optimizations and Send Now feature
  PERFORMANCE_ANALYSIS_REPORT.md
  apps/api/routers/system_router.py
  apps/frontend/src/api/client.ts
  apps/frontend/src/features/posts/create/PostCreator.tsx
  apps/frontend/src/pages/ChannelsManagementPage.tsx
  apps/frontend/src/store/slices/posts/usePostStore.ts
  infra/db/connection_manager.py
Owners: @lead-maintainer, @project-lead

docs: Add comprehensive production deployment plan
  PRODUCTION_DEPLOYMENT_PLAN.md
Owners: @lead-maintainer, @project-lead

feat: Improve post creator UX with single dynamic button
  apps/frontend/src/features/posts/create/PostCreator.tsx
Owners: @lead-maintainer, @project-lead

feat: Configure API to use 2 workers in development
  scripts/dev-start.sh
Owners: @devops-team, @backend-lead

feat: Add permanent tunnel URL support (Cloudflare Named + ngrok)
  FIXES_SUMMARY.md
  PERMANENT_TUNNEL_SETUP.md
  WORKER_CONFIGURATION_GUIDE.md
  apps/api/routers/user_mtproto_router.py
  apps/frontend/src/api/client.ts
  apps/frontend/src/features/mtproto-setup/api.ts
  apps/frontend/src/features/mtproto-setup/components/MTProtoVerificationForm.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/shared/components/navigation/NavigationBar/NavigationBar.tsx
  apps/frontend/src/store/slices/mtproto/useMTProtoStore.ts
  scripts/dev-start.sh
  scripts/setup-cloudflare-tunnel.sh
  scripts/setup-ngrok.sh
Owners: @lead-maintainer, @project-lead, @devops-team, @backend-lead

feat(frontend): comprehensive MTProto UX improvements for user comfort
  apps/frontend/MTPROTO_UX_IMPROVEMENTS.md
  apps/frontend/src/features/mtproto-setup/components/ChannelMTProtoToggle.tsx
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/frontend/src/features/mtproto-setup/types.ts
  apps/frontend/src/pages/ChannelsManagementPage.tsx
Owners: @lead-maintainer, @project-lead

fix(frontend): critical MTProto bugs - logger recursion, API 404, UI clarity
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/features/mtproto-setup/api.ts
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/frontend/src/utils/logger.ts
Owners: @lead-maintainer, @project-lead

docs(frontend): Update implementation plan - Issue #4 complete
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
Owners: @lead-maintainer, @project-lead

feat(frontend): Issue #9 - Add TypeScript ESLint configuration
  apps/frontend/eslint.config.js
  apps/frontend/package.json
Owners: @lead-maintainer, @project-lead

docs(frontend): Update implementation plan - Issue #9 complete
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
Owners: @lead-maintainer, @project-lead

feat(frontend): Issue #10 - Add Vite build compression and analysis
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/features/mtproto-setup/api.ts
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/frontend/vite.config.js
Owners: @lead-maintainer, @project-lead

docs(frontend): Update plan - Issue #10 complete, Week 3 74% complete
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
Owners: @lead-maintainer, @project-lead

fix(mtproto): session status shows 'Ready' after verification + 2FA handling
  .tunnel-current
  apps/api/main.py
  apps/api/routers/user_mtproto_router.py
  apps/api/services/mtproto_audit_service.py
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/mtproto/multi_tenant/user_mtproto_service.py
  coverage.json
  docs/TUNNEL-AUTO-UPDATE.md
  docs/TUNNEL-VERIFICATION.md
  infra/db/alembic/versions/0021_make_mtproto_credentials_optional.py
  infra/db/alembic/versions/0022_add_mtproto_enabled_flag.py
  infra/db/alembic/versions/169d798b7035_add_channel_mtproto_settings.py
  infra/db/alembic/versions/f7ffb0be449f_add_mtproto_audit_log.py
  infra/db/models/user_bot_orm.py
  infra/db/repositories/channel_mtproto_repository.py
  scripts/dev-start.sh
  scripts/update-tunnel-url.sh
  tests/api/test_mtproto_toggle.py
Owners: @lead-maintainer, @project-lead, @docs-team, @database-admin, @backend-lead, @devops-team, @qa-team

feat(mtproto): add 'Connect Now' button for manual client connection
  apps/api/routers/user_mtproto_router.py
  apps/frontend/src/features/mtproto-setup/api.ts
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(frontend): Update vitest path aliases to match vite config
  apps/frontend/vitest.config.js
Owners: @lead-maintainer, @project-lead

feat(mtproto): smart status display with actively_connected tracking
  apps/api/routers/user_mtproto_router.py
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/frontend/src/features/mtproto-setup/types.ts
Owners: @lead-maintainer, @project-lead

docs(frontend): Week 4 complete - Testing & QA finished
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
Owners: @lead-maintainer, @project-lead

docs(frontend): Clarify Week 3 is 100% complete
  apps/frontend/FRONTEND_FIX_IMPLEMENTATION_PLAN.md
Owners: @lead-maintainer, @project-lead

debug(mtproto): add console logging to debug button visibility
  .tunnel-current
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(mtproto): critical fixes for connect endpoint and toggle state sync
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
  apps/mtproto/multi_tenant/user_mtproto_service.py
Owners: @lead-maintainer, @project-lead

debug(mtproto): enhance toggle state debugging
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(mtproto): force toggle switch UI to update with state changes
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(mtproto): prevent race condition causing toggle to revert
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(mtproto): comprehensive audit - prevent auto-enable in all components
  apps/frontend/src/features/mtproto-setup/components/ChannelMTProtoToggle.tsx
  apps/frontend/src/features/mtproto-setup/components/MTProtoStatusCard.tsx
Owners: @lead-maintainer, @project-lead

fix(mtproto): CRITICAL - repository missing mtproto_enabled in ORM conversion
  MTPROTO_AUTO_ENABLE_AUDIT.md
  apps/api/routers/user_mtproto_router.py
  apps/mtproto/multi_tenant/user_mtproto_service.py
  infra/db/repositories/user_bot_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

fix(frontend): Add missing ChannelSelector to Analytics Dashboard
  apps/frontend/src/features/dashboard/analytics-dashboard/DashboardHeader.tsx
Owners: @lead-maintainer, @project-lead

fix(api): Add detailed error logging for channels endpoint
  .tunnel-current
  analyticbot_dev_session.session
  apps/api/routers/channels_router.py
  apps/api/services/channel_management_service.py
  tests/api/test_mtproto_toggle.py
Owners: @lead-maintainer, @project-lead, @qa-team, @backend-lead

fix(core): Fix channel field mapping - use 'title' instead of 'name' from database
  .tunnel-current
  analyticbot_dev_session.session
  apps/api/routers/channels_router.py
  apps/api/services/channel_management_service.py
  core/services/channel_service.py
  infra/db/repositories/channel_repository.py
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead

fix(frontend): Fix DataProvider returning undefined - remove double .data access
  analyticbot_dev_session.session
  apps/frontend/src/providers/DataProvider.js
  apps/frontend/src/shared/components/ui/ChannelSelector.tsx
  apps/frontend/src/shared/hooks/useUserChannels.ts
Owners: @lead-maintainer, @project-lead
