Repository AlonurKomilov/analyticbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-maintainer, @project-lead, @admin-team, @devops-lead, @backend-lead, @database-admin, @backend-team, @api-team, @security-team, @data-team, @business-team, @frontend-lead, @frontend-team, @qa-team, @performance-team, @devops-team, @docs-team, @i18n-team, @architecture-team

.github/CODEOWNERS:

# Global Code Owners Configuration
# This file defines who should review code changes in different parts of the repository
# Users listed here will be automatically requested for reviews when files in their areas are modified

# Default owners for everything in the repo
# These owners will be requested for review unless more specific rules apply
*       @lead-maintainer @project-lead

# Root configuration files - require admin approval
/.github/                    @admin-team @devops-lead
/docker-compose.yml          @devops-lead @backend-lead
/Dockerfile                  @devops-lead @backend-lead
/pyproject.toml              @backend-lead @lead-maintainer
/poetry.lock                 @backend-lead
/requirements.txt            @backend-lead
/alembic.ini                 @backend-lead @database-admin
/Makefile                    @devops-lead @backend-lead

# Database related files - require database admin approval
/alembic/                    @database-admin @backend-lead
/postgres-init/              @database-admin @devops-lead
**/models.py                 @database-admin @backend-lead
**/repositories/             @database-admin @backend-lead
/bot/database/               @database-admin @backend-lead

# Backend core application
/bot/                        @backend-lead @backend-team
/api.py                      @backend-lead @api-team
/run_bot.py                  @backend-lead
/health_app.py               @backend-lead @devops-lead
/init_db.py                  @database-admin @backend-lead

# Authentication and security - require security review
/bot/services/auth_service.py     @security-team @backend-lead
/bot/services/guard_service.py    @security-team @backend-lead
/bot/handlers/admin_handlers.py   @security-team @backend-lead

# External integrations and services
/bot/services/analytics_service.py    @data-team @backend-lead
/bot/services/scheduler_service.py    @backend-lead @devops-lead
/bot/services/subscription_service.py @backend-lead @business-team

# Frontend application - require frontend team approval
/twa-frontend/               @frontend-lead @frontend-team
/twa-frontend/src/           @frontend-team
/twa-frontend/package.json   @frontend-lead @devops-lead
/twa-frontend/vite.config.js @frontend-lead @devops-lead

# Frontend core components
/twa-frontend/src/App*       @frontend-lead
/twa-frontend/src/components/ @frontend-team
/twa-frontend/src/hooks/     @frontend-team
/twa-frontend/src/services/  @frontend-team @backend-team
/twa-frontend/src/utils/     @frontend-team

# Testing infrastructure - require testing team approval
/tests/                      @qa-team @backend-lead
/twa-frontend/src/**/*.test.* @qa-team @frontend-team
/pytest.ini                 @qa-team @backend-lead
/twa-frontend/vitest.config.js @qa-team @frontend-lead

# Performance and load testing
/tests/test_performance.py   @performance-team @qa-team
/scripts/                    @devops-team @backend-lead

# CI/CD and DevOps
/.github/workflows/          @devops-lead @admin-team
/.github/actions/            @devops-lead
/entrypoint.sh              @devops-lead
/.github/dependabot.yml     @devops-lead @security-team

# Security workflows and configurations
/.github/workflows/security-*.yml @security-team @devops-lead
/.github/workflows/codeql.yml     @security-team
/mypy.ini                         @backend-lead @qa-team

# Documentation - require technical writing approval
/README.md                   @docs-team @lead-maintainer
/CHANGELOG.md               @docs-team @lead-maintainer
/docs/                      @docs-team
/bot/locales/               @i18n-team @docs-team

# Internationalization
/bot/locales/en/            @i18n-team @docs-team
/bot/locales/uz/            @i18n-team @docs-team
/bot/locales/i18n_hub.py    @i18n-team @backend-team

# Configuration and environment files
/bot/config.py              @devops-lead @backend-lead
**/settings*.py             @devops-lead @backend-lead
*.env.example               @devops-lead @security-team

# Utility and helper files
/bot/utils/                 @backend-team
/punctuated.py              @backend-team @data-team

# Monitoring and observability
/bot/utils/monitoring.py    @devops-team @backend-lead
/bot/utils/error_handler.py @backend-team @qa-team

# Dependency injection and architecture
/bot/container.py           @backend-lead @architecture-team

# Middleware and request handling
/bot/middlewares/           @backend-team @security-team

# Task queue and background processing
/bot/celery_app.py          @backend-lead @devops-lead
/bot/tasks.py               @backend-team @devops-lead

# Webhooks and external API integrations
/clear_webhook.py           @backend-lead @security-team

# Critical files that require multiple approvals
/pyproject.toml             @backend-lead @devops-lead @lead-maintainer
/.github/workflows/ci*.yml  @devops-lead @qa-team @backend-lead
/docker-compose.yml         @devops-lead @backend-lead @lead-maintainer

# Emergency override - only for critical hotfixes
# /hotfix/                  @admin-team

# Branch protection bypass (only for repository admins)
# This doesn't go in CODEOWNERS but serves as documentation
# Repository admins can bypass branch protection in true emergencies

#
# Team Definitions (for reference - configured in GitHub organization settings):
#
# @admin-team: Repository administrators with full access
# @lead-maintainer: Primary maintainer responsible for project direction
# @project-lead: Technical project lead
#
# @backend-team: Backend developers
# @backend-lead: Backend team lead
# @frontend-team: Frontend/UI developers
# @frontend-lead: Frontend team lead
#
# @devops-team: DevOps/Infrastructure team
# @devops-lead: DevOps team lead
# @qa-team: Quality assurance team
# @security-team: Security specialists
# @performance-team: Performance optimization specialists
#
# @database-admin: Database administrators
# @api-team: API design and development specialists
# @docs-team: Technical documentation team
# @i18n-team: Internationalization specialists
# @data-team: Data analytics team
# @architecture-team: Software architecture specialists
# @business-team: Business/product stakeholders

docs: Revise Phase 3 plan with better organization under core/services/bot/
  PHASE_3_PLAN.md
Owners: @lead-maintainer, @project-lead

docs: Add Phase 3 revised architecture visual guide
  PHASE_3_REVISED_ARCHITECTURE.md
Owners: @lead-maintainer, @project-lead

feat: Complete Phase 3.0 - Remove legacy DI containers and reorganize
  DATABASE_CONNECTION_FIX.md
  PHASE_2_ALL_TASKS_COMPLETE.md
  PHASE_2_COMPLETE_FINAL_SUMMARY.md
  PHASE_2_COMPLETE_STATUS.md
  analyticbot_session.session
  apps/api/di_analytics.py
  apps/api/di_container/__init__.py
  apps/api/di_container/analytics_container.py
  apps/api/di_container/analytics_container_compat.py
  apps/api/routers/admin_channels_router.py
  apps/api/routers/admin_system_router.py
  apps/api/routers/admin_users_router.py
  apps/api/routers/analytics_alerts_router.py
  apps/api/routers/analytics_live_router.py
  apps/api/routers/channels_router.py
  apps/api/routers/insights_engagement_router.py
  apps/api/routers/insights_orchestration_router.py
  apps/api/routers/insights_predictive_router.py
  apps/api/routers/statistics_core_router.py
  apps/api/routers/statistics_reports_router.py
  apps/bot/adapters/analytics_adapter.py
  apps/bot/adapters/dashboard_adapter.py
  apps/bot/adapters/reporting_adapter.py
  apps/bot/container.py
  apps/bot/di.py
  apps/bot/di_compat.py
  apps/di/core_services_container.py
  apps/frontend/src/components/layout/EnhancedCard.jsx
  apps/shared/unified_di.py
  config/settings.py
  core/services/bot/__init__.py
  core/services/bot/analytics/__init__.py
  core/services/bot/analytics/analytics_batch_processor.py
  core/services/bot/dashboard/__init__.py
  core/services/bot/dashboard/dashboard_service.py
  core/services/bot/reporting/__init__.py
  core/services/bot/reporting/reporting_service.py
Owners: @lead-maintainer, @project-lead, @devops-lead, @backend-lead

Phase 3.1: Implement scheduling service foundation
  DATABASE_CONNECTION_FIX.md
  LEGACY_VS_NEW_DI_COMPARISON.md
  PHASE_3_REVISED_ARCHITECTURE.md
  apps/api/routers/analytics_post_dynamics_router.py
  apps/bot/di.py
  core/services/bot/scheduling/__init__.py
  core/services/bot/scheduling/models.py
  core/services/bot/scheduling/protocols.py
  core/services/bot/scheduling/schedule_manager.py
  docs/POST_DYNAMICS_FIX_SUMMARY.md
  docs/POST_DYNAMICS_TESTING_GUIDE.md
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead, @docs-team

Phase 3.1: Add PostDeliveryService, DeliveryStatusTracker, and Telegram adapters
  apps/bot/adapters/__init__.py
  apps/bot/adapters/scheduling_adapters.py
  apps/frontend/src/components/analytics/BestTimeRecommender/BestTimeRecommender.jsx
  apps/frontend/src/components/analytics/BestTimeRecommender/components/AIInsightsPanel.jsx
  apps/frontend/src/components/analytics/BestTimeRecommender/components/RecommenderFooter.jsx
  apps/frontend/src/components/charts/PostViewDynamics/ChartErrorBoundary.jsx
  apps/frontend/src/components/charts/PostViewDynamics/StatusComponents.jsx
  core/services/bot/scheduling/__init__.py
  core/services/bot/scheduling/delivery_status_tracker.py
  core/services/bot/scheduling/post_delivery_service.py
  docs/POST_DYNAMICS_TESTING_GUIDE.md
Owners: @lead-maintainer, @project-lead, @docs-team

Phase 3.1: Integrate scheduling services into DI container
  apps/di/bot_container.py
  core/services/bot/scheduling/protocols.py
Owners: @lead-maintainer, @project-lead

Phase 3.1: Migrate handlers to new scheduling services
  apps/bot/handlers/admin_handlers.py
  apps/bot/middlewares/dependency_middleware.py
  apps/bot/tasks.py
Owners: @lead-maintainer, @project-lead

Phase 3.1: Add DI wiring test and fix import issues
  apps/api/routers/admin_channels_router.py
  apps/frontend/src/components/analytics/BestTimeRecommender/BestTimeRecommender.jsx
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.jsx
  core/services/bot/__init__.py
  docs/POST_DYNAMICS_FIX_SUMMARY.md
  docs/POST_DYNAMICS_TESTING_GUIDE.md
  docs/SCHEDULER_REFACTORING_STATUS.md
  scripts/test_scheduling_di_wiring.py
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

docs: Phase 3.1 completion summary - 100% DONE ✅
  docs/PHASE_3.1_COMPLETE.md
Owners: @docs-team

Phase 3.1: Archive legacy SchedulerService
  apps/bot/handlers/admin_handlers.py
  apps/bot/middlewares/dependency_middleware.py
  apps/bot/services/__init__.py
  archive/phase3_scheduler_legacy_20251014/ARCHIVE_README.md
  archive/phase3_scheduler_legacy_20251014/scheduler_service.py
Owners: @lead-maintainer, @project-lead

Phase 3.2: Begin AlertingService refactoring - protocols created
  apps/frontend/src/components/common/EnhancedDataTable/EnhancedDataTable.jsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableToolbar.jsx
  apps/frontend/src/domains/analytics/PostsTable.jsx
  core/services/bot/alerts/__init__.py
  core/services/bot/alerts/protocols.py
  docs/PHASE_3.1_COMPLETE.md
  docs/PHASE_3.2_ALERTING_REFACTORING_PLAN.md
  docs/phase_1_4_di_consolidation.md
  docs/phase_2_option_b_audit.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat(phase3.2): Implement alert services following Clean Architecture
  apps/api/routers/analytics_channels_router.py
  apps/bot/adapters/alert_adapters.py
  apps/bot/middlewares/dependency_middleware.py
  apps/di/bot_container.py
  apps/di/database_container.py
  apps/frontend/src/components/common/IconSystem.jsx
  apps/frontend/src/domains/analytics/PostsTable.jsx
  apps/frontend/src/store/appStore.js
  core/services/bot/alerts/__init__.py
  core/services/bot/alerts/alert_condition_evaluator.py
  core/services/bot/alerts/alert_event_manager.py
  core/services/bot/alerts/alert_rule_manager.py
  docs/PHASE_3.2_ALERT_IMPLEMENTATION_STATUS.md
  scripts/test_alert_di_wiring.py
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

fix(phase3.2): Fix all errors in alert services without type ignore
  apps/bot/adapters/alert_adapters.py
  apps/bot/handlers/bot_alerts_handler.py
  apps/bot/middlewares/dependency_middleware.py
  apps/di/bot_container.py
  apps/frontend/src/components/EmptyState.jsx
  apps/frontend/src/components/analytics/BestTimeRecommender/BestTimeRecommender.jsx
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.jsx
  apps/frontend/src/components/charts/PostViewDynamics/StatusComponents.jsx
  apps/frontend/src/components/charts/PostViewDynamics/index.js
  apps/frontend/src/components/common/EnhancedDataTable/components/TableContent.jsx
  apps/frontend/src/providers/DataProvider.js
  apps/frontend/src/services/aiServicesAPI.js
  apps/frontend/src/store/appStore.js
  docs/API_PATH_MIGRATION_GUIDE.md
  docs/MOCK_REAL_SYSTEM_DOCUMENTATION.md
  docs/PHASE_3.2_COMPLETE_SUMMARY.md
  docs/PHASE_3.2_ERROR_FIXES.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat(phase3.2): Complete AlertingService refactoring - PHASE 3.2 DONE ✅
  PHASE_3_PLAN.md
  apps/bot/services/alerting_service.py
  apps/frontend/src/utils/initializeApp.js
  docs/API_HEALTH_CHECK_IMPROVEMENTS.md
  docs/PHASE_3.2_ALERTING_REFACTORING_COMPLETE.md
  docs/PHASE_3.2_ERROR_FIXES.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix(phase3.2): Mark legacy service factories as deprecated
  apps/bot/handlers/bot_alerts_handler.py
  apps/di/bot_container.py
  docs/PHASE_3.2_FINAL_SUMMARY.md
Owners: @lead-maintainer, @project-lead, @docs-team

docs(phase3.2): Add final verification report
  apps/api/routers/analytics_alerts_router.py
  docs/PHASE_3.2_VERIFICATION_COMPLETE.md
Owners: @lead-maintainer, @project-lead, @docs-team

fix(pre-phase3.3): Fix 29 logical errors across scheduling and alert services
  apps/api/routers/analytics_alerts_router.py
  apps/di/bot_container.py
  core/services/bot/scheduling/delivery_status_tracker.py
  core/services/bot/scheduling/post_delivery_service.py
  docs/API_HEALTH_CHECK_IMPROVEMENTS.md
  docs/DI_CONTAINER_ANALYSIS.md
  docs/PHASE_3.2_ALERTING_REFACTORING_COMPLETE.md
  docs/PHASE_3.2_ALERTING_REFACTORING_PLAN.md
  docs/PHASE_3.2_ALERT_IMPLEMENTATION_STATUS.md
  docs/PHASE_3.2_COMPLETE_SUMMARY.md
  docs/PHASE_3.2_FINAL_SUMMARY.md
  docs/PHASE_3.2_VERIFICATION_COMPLETE.md
  docs/PRE_PHASE_3.3_ERROR_FIXES.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat(api): Complete AlertingService migration to Phase 3.2 alert services
  apps/api/routers/analytics_alerts_router.py
  apps/di/__init__.py
  apps/frontend/src/services/analyticsService.js
  docs/SERVICES_STARTUP_SUMMARY.md
Owners: @lead-maintainer, @project-lead, @docs-team

Phase 3.3: Content Protection Service - Clean Architecture Migration ✅
  apps/bot/adapters/content/__init__.py
  apps/bot/adapters/content/file_system.py
  apps/bot/adapters/content/image_processor.py
  apps/bot/adapters/content/subscription.py
  apps/bot/adapters/content/video_processor.py
  apps/bot/handlers/content_protection.py
  apps/bot/services/content_protection.py
  apps/di/__init__.py
  apps/di/bot_container.py
  core/services/bot/content/__init__.py
  core/services/bot/content/content_protection_service.py
  core/services/bot/content/models.py
  core/services/bot/content/protocols.py
  core/services/bot/content/theft_detector.py
  core/services/bot/content/video_watermark_service.py
  core/services/bot/content/watermark_service.py
  docs/DI_CONTAINER_ANALYSIS.md
  docs/PHASE_3.3_COMPLETE_SUMMARY.md
  docs/SERVICES_STARTUP_SUMMARY.md
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead, @docs-team

fix(handlers): Resolve PremiumEmojiService import after content_protection archival
  apps/bot/handlers/content_protection.py
  apps/bot/services/premium_emoji_service.py
Owners: @lead-maintainer, @project-lead

docs: Pre-Phase 3.4 comprehensive error analysis
  docs/PRE_PHASE_3.4_ERROR_ANALYSIS.md
Owners: @docs-team

refactor(metrics): Phase 3.4 - PrometheusService Clean Architecture migration
  apps/bot/adapters/metrics/__init__.py
  apps/bot/adapters/metrics/prometheus_adapter.py
  apps/bot/adapters/metrics/stub_metrics_adapter.py
  apps/bot/adapters/metrics/system_metrics_adapter.py
  apps/bot/handlers/admin_handlers.py
  apps/bot/metrics_decorators.py
  apps/bot/services/analytics_service.py
  apps/bot/tasks.py
  apps/celery/tasks/bot_tasks.py
  apps/di/__init__.py
  apps/di/bot_container.py
  archive/phase3_prometheus_legacy_20251015/ARCHIVE_README.md
  archive/phase3_prometheus_legacy_20251015/prometheus_service.py
  core/services/bot/metrics/__init__.py
  core/services/bot/metrics/business_metrics_service.py
  core/services/bot/metrics/decorators.py
  core/services/bot/metrics/health_check_service.py
  core/services/bot/metrics/metrics_collector_service.py
  core/services/bot/metrics/models.py
  core/services/bot/metrics/protocols.py
  core/services/bot/metrics/system_metrics_service.py
  docs/DEV_RESTART_OPTIMIZATION.md
  docs/PHASE_3.3_COMPLETE_SUMMARY.md
  docs/PHASE_3.4_COMPLETE_SUMMARY.md
  docs/PHASE_3.4_PROMETHEUS_METRICS_PLAN.md
  docs/PRE_PHASE_3.3_ERROR_FIXES.md
  docs/PRE_PHASE_3.4_ERROR_ANALYSIS.md
Owners: @lead-maintainer, @project-lead, @database-admin, @backend-lead, @docs-team

chore: Update edge area type fixes (partial)
  PYLANCE_VS_MYPY_FIXES.md
  TYPE_SAFETY_COMPLETE.md
  apps/frontend/src/main.jsx
  apps/jobs/alerts/runner.py
Owners: @lead-maintainer, @project-lead

feat: Complete edge area type safety fixes (Option 5)
  apps/api/main.py
  apps/api/middleware/auth.py
  apps/api/routers/analytics_channels_router.py
  apps/api/routers/health_router.py
  apps/api/services/health_service.py
  apps/api/services/startup_health_check.py
  apps/bot/utils/data_processor.py
  apps/celery/tasks/bot_tasks.py
  apps/demo/middleware.py
  apps/demo/services/sample_data_service.py
  apps/di/bot_container.py
  apps/di/ml_container.py
  apps/frontend/src/components/HealthStartupSplash.jsx
  apps/frontend/src/components/charts/PostViewDynamics/PostViewDynamicsChart.jsx
  apps/frontend/src/components/common/SystemHealthCheck.jsx
  apps/frontend/src/main.jsx
  apps/frontend/src/pages/SystemHealthDashboard.jsx
  apps/frontend/src/utils/initializeApp.js
  apps/frontend/src/utils/systemHealthCheck.js
  apps/jobs/alerts/runner.py
  apps/shared/analytics_service.py
  docs/PRODUCTION_HEALTH_CHECK_SYSTEM.md
  scripts/dev-start.sh
Owners: @lead-maintainer, @project-lead, @docs-team, @devops-team, @backend-lead

fix(frontend): Priority 2 Complete - All 148 tests passing
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  APPS_REFACTORING_ACTION_PLAN.md
  DI_MIGRATION_COMPLETE.md
  DI_MIGRATION_FINAL_STATUS.md
  DI_MIGRATION_GUIDE.md
  DI_MIGRATION_INVENTORY.md
  DI_MIGRATION_PROGRESS_REPORT_1.md
  NEXT_ACTIONS.md
  PHASE_1_SUMMARY.txt
  apps/api/di.py
  apps/api/main.py
  apps/api/routers/insights_predictive_router.py
  apps/api/routers/system_router.py
  apps/api/services/initial_data_service.py
  apps/demo/routers/main.py
  apps/frontend/src/hooks/useApiFailureDialog.js
  apps/frontend/src/test/PostViewDynamicsChart.test.jsx
  apps/pytest.ini
  apps/shared/di.py
  apps/shared/health.py
  apps/tests/__init__.py
  apps/tests/conftest.py
  apps/tests/test_api/__init__.py
  apps/tests/test_api/test_main.py
  apps/tests/test_api/test_routers/__init__.py
  apps/tests/test_api/test_routers/test_auth.py
  apps/tests/test_bot/__init__.py
  apps/tests/test_bot/test_handlers/__init__.py
  apps/tests/test_di/__init__.py
  apps/tests/test_di/test_containers.py
Owners: @lead-maintainer, @project-lead

feat(frontend): Priority 3 Batch 1 - Migrate 10 common components to TypeScript
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  DI_MIGRATION_COMPLETE.md
  DI_MIGRATION_FINAL_STATUS.md
  DI_MIGRATION_GUIDE.md
  DI_MIGRATION_INVENTORY.md
  NEXT_ACTIONS.md
  PHASE_1_SUMMARY.txt
  PHASE_2_SESSION_COMPLETE.md
  apps/bot/models/twa.py
  apps/bot/services/adapters/payment_adapter_factory.py
  apps/frontend/docs/PRIORITY_1_TYPESCRIPT_FIXES_COMPLETE.md
  apps/frontend/src/components/common/EnhancedDataTable.ts
  apps/frontend/src/components/common/EnhancedDataTable/components/TableColumns.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableDensity.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableExport.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TablePaginationControls.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableSearch.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableToolbar.tsx
  apps/frontend/src/components/common/GlobalDataSourceSwitch.tsx
  apps/frontend/src/components/common/ServiceNavigation.jsx
  apps/frontend/src/components/common/TouchTargetComplianceSummary.tsx
Owners: @lead-maintainer, @project-lead

feat(frontend): Priority 3 Batch 2 (Partial) - Migrate 3 medium components to TypeScript
  apps/bot/analytics.py
  apps/bot/services/adapters/bot_ml_facade.py
  apps/di/ml_container.py
  apps/frontend/src/components/common/AccessibleFormField.tsx
  apps/frontend/src/components/common/EnhancedDataTable/components/TableContent.tsx
  apps/frontend/src/components/common/TouchTargetCompliance.tsx
Owners: @lead-maintainer, @project-lead

feat(refactor): Complete Priority 3 Batch 2 - Medium Components Migration (5 files)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  GRACE_PERIOD_DELETION_PLAN.md
  GRACE_PERIOD_QUICK_REF.md
  PHASE_2_QUICK_WINS_OCT19.md
  PHASE_2_SESSION_OCT19_COMPLETE.md
  apps/bot/api/content_protection_router.py
  apps/bot/utils/monitoring.py
  apps/demo/config.py
  apps/demo/middleware.py
  apps/demo/services/demo_service.py
  apps/frontend/src/components/common/StandardComponents.tsx
  apps/frontend/src/components/common/forms/FormComponents.tsx
  apps/shared/cache.py
  apps/shared/di.py
  apps/shared/performance.py
  apps/shared/protocols.py
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 3 - Large Components (4 files)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  GRACE_PERIOD_DELETION_PLAN.md
  GRACE_PERIOD_QUICK_REF.md
  PHASE_2_QUICK_WINS_OCT19.md
  PHASE_2_SESSION_COMPLETE.md
  PHASE_2_SESSION_OCT19_COMPLETE.md
  WHATS_NEXT.md
  apps/bot/api/payment_router.py
  apps/bot/clients/__init__.py
  apps/bot/clients/analytics_client.py
  apps/bot/handlers/exports.py
  apps/bot/services/adapters/base_adapter.py
  apps/bot/services/adapters/bot_ml_facade_compat.py
  apps/bot/services/adapters/ml_coordinator_compat.py
  apps/bot/services/adapters/mock_payment_adapter.py
  apps/bot/services/adapters/stripe_payment_adapter.py
  apps/di/__init__.py
  apps/frontend/src/components/common/EnhancedDataTable/EnhancedDataTable.tsx
  apps/frontend/src/components/common/GlobalSearchDialog.tsx
  apps/frontend/src/components/common/NavigationProvider.tsx
  apps/frontend/src/components/common/SystemHealthCheck.tsx
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 4 - Tiny Components (10 files)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/frontend/REFACTORING_PLAN.md
  apps/frontend/src/components/DataTablesShowcase.tsx
  apps/frontend/src/components/EmptyState.jsx
  apps/frontend/src/components/EmptyState.tsx
  apps/frontend/src/components/EnhancedTopPostsTable.tsx
  apps/frontend/src/components/EnhancedUserManagementTable.tsx
  apps/frontend/src/components/PostViewDynamicsChart.tsx
  apps/frontend/src/components/analytics/TopPostsTable/components/PostMetricBadge.jsx
  apps/frontend/src/components/analytics/TopPostsTable/components/PostMetricBadge.tsx
  apps/frontend/src/components/charts/TrendsChart/TimeRangeControls.jsx
  apps/frontend/src/components/charts/TrendsChart/TimeRangeControls.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/SystemConfigTab.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/TabPanel.jsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/TabPanel.tsx
  apps/frontend/src/components/layout/ProtectedLayout.tsx
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 5 - Small Components (10 files)
  apps/frontend/REFACTORING_PLAN.md
  apps/frontend/src/components/analytics/BestTimeRecommender/components/RecommenderFooter.tsx
  apps/frontend/src/components/charts/PostViewDynamics/ChartErrorBoundary.tsx
  apps/frontend/src/components/charts/TrendsChart/ChartDataInsights.tsx
  apps/frontend/src/components/charts/TrendsChart/ChartTypeSelector.tsx
  apps/frontend/src/components/charts/TrendsChart/CustomTooltip.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/TabPanel.tsx
  apps/frontend/src/components/domains/services/ServicesOverview.tsx
  apps/frontend/src/components/pages/AnalyticsPage.tsx
  apps/frontend/src/components/pages/HelpPage.tsx
  apps/frontend/src/components/pages/SettingsPage.tsx
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 6 - Small/Medium Components (10 files)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  APPS_REFACTORING_ACTION_PLAN.md
  ISSUE_2_IMPORT_VIOLATIONS_ANALYSIS.md
  WHATS_NEXT.md
  apps/api/exports/__init__.py
  apps/api/main.py
  apps/api/routers/content_protection_router.py
  apps/api/routers/exports_router.py
  apps/api/routers/insights_predictive_router.py
  apps/api/routers/payment_router.py
  apps/api/routers/sharing_router.py
  apps/bot/di.py
  apps/bot/handlers/exports.py
  apps/di/__init__.py
  apps/di/cache_container.py
  apps/di/database_container.py
  apps/frontend/REFACTORING_PLAN.md
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/DashboardCharts.tsx
  apps/frontend/src/components/analytics/BestTimeRecommender/components/TimeFrameFilters.tsx
  apps/frontend/src/components/analytics/MetricsCard/metricsUtils.jsx
  apps/frontend/src/components/analytics/MetricsCard/metricsUtils.tsx
  apps/frontend/src/components/analytics/TopPostsTable/components/PostTableFilters.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/AdminTabNavigation.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/SuspendUserDialog.tsx
  apps/frontend/src/components/domains/posts/PostContentInput.tsx
  apps/frontend/src/components/domains/posts/PostSubmitButton.tsx
  apps/frontend/src/components/domains/posts/ScheduleTimeInput.tsx
  apps/frontend/src/components/guards/PublicRoute.tsx
  apps/mtproto/di/storage.py
  apps/shared/api/__init__.py
  apps/shared/exports/__init__.py
  apps/shared/exports/csv_v2.py
  apps/tests/conftest.py
  apps/tests/test_api/test_routers/test_auth.py
  core/protocols/__init__.py
  core/protocols/infrastructure_protocols.py
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 7 - Medium Components (10 files, 65-80 lines)
  apps/api/routers/exports_router.py
  apps/api/routers/sharing_router.py
  apps/api/routers/superadmin_router.py
  apps/bot/di.py
  apps/bot/handlers/exports.py
  apps/di/database_container.py
  apps/frontend/src/components/AuthenticationWrapper.tsx
  apps/frontend/src/components/MediaPreview.tsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/PerformanceScoreWidget.tsx
  apps/frontend/src/components/analytics/BestTimeRecommender/components/BestTimeCards.tsx
  apps/frontend/src/components/analytics/TopPostsTable/components/PostActionMenu.tsx
  apps/frontend/src/components/charts/PostViewDynamics/TimeRangeControls.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/LoadingOverlay.tsx
  apps/frontend/src/components/domains/admin/UserManagement/UserDisplayComponents.tsx
  apps/frontend/src/components/domains/posts/PostButtonManager.tsx
  apps/frontend/src/components/showcase/ShowcaseLayout.tsx
  apps/frontend/src/components/showcase/TablesShowcase.tsx
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 8 - Large Components (10 files, 80-100 lines)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/api/deps.py
  apps/api/routers/sharing_router.py
  apps/bot/di.py
  apps/bot/handlers/admin_handlers.py
  apps/bot/handlers/user_handlers.py
  apps/frontend/src/components/analytics/BestTimeRecommender/components/HeatmapVisualization.tsx
  apps/frontend/src/components/analytics/MetricsCard/MetricsDetails.tsx
  apps/frontend/src/components/analytics/MetricsCard/PerformanceInsights.tsx
  apps/frontend/src/components/charts/PostViewDynamics/StatusComponents.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard/SummaryStatsGrid.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/AdminStatsCards.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/OverviewTab.tsx
  apps/frontend/src/components/domains/posts/ChannelSelector.tsx
  apps/frontend/src/components/pages/CreatePostPage.tsx
  apps/frontend/src/pages/AuthPage.tsx
  apps/jobs/alerts/runner.py
  apps/jobs/di.py
  apps/shared/factory.py
Owners: @lead-maintainer, @project-lead

feat: Complete Priority 3 Batch 9 - Larger Components (10 files, 90-120 lines)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/api/di_analytics.py
  apps/api/services/telegram_validation_service.py
  apps/bot/adapters/analytics_adapter.py
  apps/frontend/src/components/alerts/RealTimeAlerts/AlertsList.jsx
  apps/frontend/src/components/alerts/RealTimeAlerts/AlertsList.tsx
  apps/frontend/src/components/alerts/RealTimeAlerts/RuleManager.jsx
  apps/frontend/src/components/alerts/RealTimeAlerts/RuleManager.tsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/DataSourceStatus.jsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/DataSourceStatus.tsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/SmartAlertsPanel.jsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/SmartAlertsPanel.tsx
  apps/frontend/src/components/analytics/BestTimeRecommender/BestTimeRecommender.jsx
  apps/frontend/src/components/analytics/BestTimeRecommender/BestTimeRecommender.tsx
  apps/frontend/src/components/charts/PostViewDynamics/MetricsSummary.jsx
  apps/frontend/src/components/charts/PostViewDynamics/MetricsSummary.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/UserManagementTab.jsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/components/UserManagementTab.tsx
  apps/frontend/src/components/guards/ProtectedRoute.jsx
  apps/frontend/src/components/guards/ProtectedRoute.tsx
  apps/frontend/src/components/pages/DashboardPage.jsx
  apps/frontend/src/components/pages/DashboardPage.tsx
  apps/frontend/src/components/showcase/ShowcaseNavigation.tsx
  apps/mtproto/di/collectors.py
  apps/mtproto/di/external.py
  apps/mtproto/di/processors.py
  apps/mtproto/di/storage.py
Owners: @lead-maintainer, @project-lead

docs: Update REFACTORING_PLAN with Batch 10 completion and Batches 11-13 strategy
  .pre-commit-config.yaml
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  DI_MIGRATION_PROGRESS_REPORT_1.md
  ISSUE_2_IMPORT_VIOLATIONS_ANALYSIS.md
  Makefile
  apps/api/services/__init__.py
  apps/di/bot_container.py
  apps/frontend/REFACTORING_PLAN.md
  apps/frontend/docs/BATCH_10_COMPLETION_REPORT.md
  apps/frontend/src/components/alerts/RealTimeAlerts/NewRuleDialog.jsx
  apps/frontend/src/components/alerts/RealTimeAlerts/NewRuleDialog.tsx
  apps/frontend/src/components/alerts/RealTimeAlerts/NotificationEngine.tsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/AdvancedAnalyticsDashboard.jsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/AdvancedAnalyticsDashboard.tsx
  apps/frontend/src/components/analytics/MetricsCard/MetricsCard.tsx
  apps/frontend/src/components/charts/TrendsChart/ChartRenderer.tsx
  apps/frontend/src/components/layout/EnhancedDashboardLayout.tsx
  apps/frontend/src/components/payment/subscription/UsageMetrics.tsx
  apps/frontend/src/main.jsx
  apps/frontend/src/main.tsx
  apps/frontend/src/services/PredictiveAnalyticsService.tsx
  apps/frontend/src/stores/channels/useChannelStore.ts
  apps/frontend/src/stores/media/useMediaStore.ts
  apps/frontend/src/stores/posts/usePostStore.ts
  apps/frontend/src/utils/errorHandler.tsx
  core/domain/__init__.py
  docs/architecture/PHASE_6_IMPORT_LINTING_COMPLETE.md
  importlinter.ini
  pyproject.toml
  requirements.in
Owners: @lead-maintainer, @project-lead, @devops-lead, @backend-lead, @docs-team

chore: Remove deprecated DI files (Issue #3 - Task 1.1)
  APPS_ARCHITECTURE_TOP_10_ISSUES.md
  apps/api/deps.py
  apps/api/di.py
  apps/bot/di.py
  apps/frontend/docs/BATCH_10_COMPLETION_REPORT.md
  apps/frontend/src/components/DiagnosticPanel.tsx
  apps/frontend/src/components/auth/ForgotPasswordForm.tsx
  apps/frontend/src/components/auth/RoleGuard.tsx
  apps/frontend/src/components/charts/PostViewDynamics/ChartVisualization.tsx
  apps/frontend/src/components/content/ContentProtectionDashboard.tsx
  apps/frontend/src/components/domains/admin/UserManagement/UserUtils.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/NavigationBar.tsx
  apps/frontend/src/components/layout/EnhancedSection.tsx
  apps/frontend/src/components/payment/billing/PaymentHistory.tsx
  apps/frontend/src/components/payment/dialogs/CancelSubscriptionDialog.tsx
  docs/architecture/PHASE_6_IMPORT_LINTING_COMPLETE.md
Owners: @lead-maintainer, @project-lead, @docs-team

feat(frontend): Complete Batch 11 migration - 10 components (150-170 lines)
  apps/frontend/src/components/DiagnosticPanel.tsx
  apps/frontend/src/components/auth/RoleGuard.tsx
  apps/frontend/src/components/content/ContentProtectionDashboard.tsx
  apps/frontend/src/components/domains/admin/UserManagement/UserUtils.tsx
  apps/frontend/src/components/domains/navigation/NavigationBar/NavigationBar.tsx
  apps/frontend/src/components/layout/EnhancedSection.tsx
  apps/frontend/src/components/payment/billing/PaymentHistory.tsx
  apps/frontend/src/components/payment/dialogs/CancelSubscriptionDialog.tsx
  docs/architecture/TASK_1_2_HYBRID_PLAN.md
  docs/architecture/TASK_1_2_PRIORITY_ADJUSTMENTS.md
Owners: @lead-maintainer, @project-lead, @docs-team

Task 1.2 Phase 1: Auto-Fix 1 - Simple Default Values
  apps/bot/handlers/exports.py
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/OverviewMetrics.tsx
  apps/frontend/src/components/charts/TrendsChart/TrendsChart.tsx
  apps/frontend/src/components/dashboard/AIServicesGrid.tsx
  apps/frontend/src/components/dialogs/ApiFailureDialog.tsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/SuperAdminDashboard.tsx
  apps/frontend/src/components/domains/admin/UserManagement/UserActions.tsx
  apps/frontend/src/components/payment/dialogs/PaymentHistoryDialog.tsx
  apps/jobs/services/analytics_job_service.py
  apps/jobs/services/delivery_job_service.py
Owners: @lead-maintainer, @project-lead

Task 1.2 Phase 1: Auto-Fix 2-4 - TODO Cleanup
  apps/api/deps_factory.py
  apps/api/routers/exports_router.py
  apps/api/routers/sharing_router.py
  apps/api/routers/superadmin_router.py
  apps/bot/handlers/admin_handlers.py
  apps/bot/handlers/exports.py
  apps/frontend/src/components/ButtonConstructor.jsx
  apps/frontend/src/components/ButtonConstructor.tsx
  apps/frontend/src/components/analytics/AdvancedAnalyticsDashboard/OverviewMetrics.jsx
  apps/frontend/src/components/charts/TrendsChart/TrendsChart.jsx
  apps/frontend/src/components/charts/TrendsChart/TrendsChart.tsx
  apps/frontend/src/components/dashboard/AIServicesGrid.jsx
  apps/frontend/src/components/dialogs/ApiFailureDialog.jsx
  apps/frontend/src/components/domains/admin/SuperAdminDashboard/SuperAdminDashboard.jsx
  apps/frontend/src/components/domains/admin/UserManagement/UserActions.jsx
  apps/frontend/src/components/domains/admin/UserManagement/UserManagementTable.tsx
  apps/frontend/src/components/domains/posts/PostCreatorForm.tsx
  apps/frontend/src/components/payment/dialogs/PaymentHistoryDialog.jsx
  apps/jobs/services/analytics_job_service.py
  apps/jobs/services/delivery_job_service.py
Owners: @lead-maintainer, @project-lead
